{% extends "base.html" %}
{% block title %}{{ display_name }}'s Profile - {{ super() }}{% endblock %}

{% block body %}
<div class="profile">
  {% if is_editable %}
  <h2 class="editable"
      id="new_display_name"
      editurl="{{ url('auth-ajax-edit-display-name') }}">{{ display_name }}</h2>
  {% else %}
  <h2>{{ display_name }}</h2>
  {% endif %}
  <img class="gravatar" src="{{ gravatar_url('user.email', 128) }}">

  <h3> {{ display_name }} has authored </h3>
  <ul>
    {% for extension in extensions %}
    <li class="extension profile">
      <h4 class="extension-name"><a href="{{ url('extensions-detail', pk=extension.pk) }}">      <img src="{{ extension.icon.url }}" class="icon">{{ extension.name }}</a></h4>
      <p class="description">
        {{ extension.description }}
      </p>
    </li>
    {% endfor %}
  </ul>

  <h3> {{ display_name }} has reviewed </h3>
  <div class="reviews">
    {% for review in reviews %}
    <div class="review">
      <a href="{{ url('extensions-version-detail', ext_pk=review.version.extension.pk, slug=review.version.extension.slug, pk=review.version.pk) }}">
        <span class="extension-name">{{ review.version.extension.name }}</span>
        <span class="extension-version">(version {{ review.version.version }})</span>
      </a>
      <abbr class="timestamp" title="{{ review.date.isoformat() }}">{{ review.date|datetime("%B  %d, %Y") }}</abbr>
      <blockquote>{{ review.comments }}</blockquote>
    </div>
    {% else %}
      <p>No reviews.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
