{% extends "base.html" %}
{% block title %}{{ display_name }}'s Profile - {{ block.super }}{% endblock %}

{% block body %}
{% load thumbnail %}
{% load gravatar %}
<div class="profile">
  {% if is_editable %}
  <h2 class="editable"
      id="new_display_name"
      editurl="{% url auth-ajax-edit-display-name %}">{{ display_name }}</h2>
  {% else %}
  <h2>{{ display_name }}</h2>
  {% endif %}
  <img class="gravatar" src="{% gravatar_url request user.email 128 %}">
  <p>
    Your avatar is managed through <a href="https://secure.gravatar.com/">Gravatar</a>
  </p>

  <h3> {{ display_name }} has authored </h3>
  <ul>
    {% for extension in extensions %}
    <li class="extension profile">
      <h4 class="extension-name"><a href="{{ extension.get_absolute_url }}">
          <img src="{{ extension.icon.url }}" class="icon"> {{ extension.name }}
      </a></h4>

      <p class="description">{{ extension.first_line_of_description }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
