{% extends "base.html" %}
{% block body %}
    <div class="extension" data-uuid="{{ extension.uuid }}" data-manifest="{{ manifest }}">
      <div class="button"></div>
      <h3> {{ extension.name }} </h3>
      <span class="author"> by {{ extension.creator }}</span>
      <p>
        {{ extension.description }}
      </p>

      <ul>
        {% if user == extension.creator %}
          <li><a href="{% url upload-file slug=extension.slug %}">Upload a new version</a></li>
        {% endif %}
        {% if user.is_superuser %}
          <li><a class="featured" href="#" data-uuid="{{ extension.uuid }}"></a></li>
        {% endif %}
      </ul>

      <hr>

      {% load comments %}
      {% render_comment_list for extension %}
      {% render_comment_form for extension %}
    </div>
{% endblock %}
{% block document-ready %}
    {{ block.super }}
    $(".extension").buttonify();
    {% if user.is_superuser %}
    $(".featured").featureToggleify{{ extension.is_featured|yesno:"true,false" }});
    {% endif %}
{% endblock %}
