<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}layout/sweettooth.css" />
    {% block head %} {% endblock %}
    <title> {% block title %} SweetTooth {% endblock %} </title>
  </head>
  <body>
    <div id="global_domain_bar">
      <div>
        {% include "login_popup_form.html" %}
        <a href="http://www.gnome.org/"><strong>GNOME</strong>.org</a>
      </div>
    </div>

    <!-- header -->
    <div id="gnome_header">
      <div class="maxwidth">
        <h1><a href="/"><img src="{{ STATIC_URL }}images/foot.png" alt="GNOME" /> Shell Extensions</a></h1>
        
        <ul id="globalnav">
          <li><a href="{% url ext-index %} ">Extensions</a></li>
          <li><a href="{% url upload-file %}">Add extension</a></li>
        </ul>
        
        <div class="right">
          <input id="search_input" type="text" placeholder="Search..." />
        </div>
        
        <div class="clear"></div>
      </div>
    </div>

    <div id="message_container">
    {% for message in messages %}
      <div class="message {{ message.tags }}">{{ message }}</div>
    {% endfor %}
    </div>

    <div id="gnome_container">
      <div class="maxwidth">
        <div id="content">
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>

    <div id="footer_art" class="default">
    </div>
    
    <div id="footer_grass">
    </div>

    <div id="footer">
      <div class="container_12">
        {% include "dummy_links.html" %}
        <div class="grid_9" id="footnotes">
          Copyright &copy; 2005&#8210;2011 <strong class="gnome_logo">The GNOME Project</strong><br>
          <small>Free to share and remix: <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons CC-BY</a>. Optimised for standards. Hosted by <a href="http://www.canonical.com/">Canonical</a>. Powered by <a href="http://www.wordpress.org">WordPress</a></small>
        </div>
        <div class="clear"></div>
    </div>
    {% block script %}
      <script src="http://code.jquery.com/jquery-1.6.2.js"></script>
      <script src="{{ STATIC_URL }}js/sweettooth.base.js"></script>
      <script src="{{ STATIC_URL }}js/sweettooth.dbus.plugin.js"></script>
      <script src="{{ STATIC_URL }}js/sweettooth.dbus.http.js"></script>
      <script src="{{ STATIC_URL }}js/sweettooth.dbus.js"></script>
      <script>
        $(document).ready(function() {
        {% block document-ready %}
          $("#login_link").loginPopupify("#login_popup_form");
        {% endblock %}
        });
      </script>
    {% endblock %}
  </body>
</html>
