<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/sweettooth.css" />
    <link rel="shortcut icon" href="/static/images/favicon.png" />
    {% block head %} {% endblock %}
    <title>{% block title %}GNOME Shell Extensions{% endblock %}</title>
    <script>
window._SW = function() {
{% block document_ready %}{% endblock %}
};
    </script>
    <script src="/static/js/jquery.js"></script>
    <script data-main="/static/js/{% block js_main %}main{% endblock %}.js" src="/static/js/require.js"></script>
  </head>
  <body>
    <div id="global_domain_bar">
      <div class="maxwidth">
        <div class="tab">
          <a class="root" href="http://www.gnome.org/">GNOME.org</a>
          {% if n_unreviewed_extensions %}
          <a id="unreviewed_counter" href="{{ url('review-list') }}">{{ n_unreviewed_extensions }}</a>
          {% endif %}
          {% if request.user.is_authenticated() %}
          <a class="user" href="#">{{ request.user.username }}</a>
          {% else %}
          <a class="user" href="{{ url('auth-login') }}">Login</a>
          {% endif %}
        </div>
        {% if request.user.is_authenticated() %}
        <div class="user_settings">
          <ul>
            <li><a href="{{ url('auth-profile', user=request.user.username) }}">Your profile</a></li>
            <li><a href="{{ url('auth-settings', user=request.user.username) }}">Settings</a></li>
            <li><a href="{{ url('auth-logout') }}">Log out</a></li>
          </ul>
        </div>
        {% else %}
        {% include "registration/login_popup_form.html" %}
        {% endif %}
      </div>
    </div>

    <!-- header -->
    <div id="gnome_header">
      <div class="maxwidth">
        <h1><a href="/"><img src="/static/images/foot.png" alt="GNOME" />Shell Extensions</a><span class="alpha-banner">Alpha!</span></h1>
        
        <ul id="globalnav" class="{% block navclass %}{% endblock %}">
          <li class="main"><a href="{{ url('extensions-index') }}">Extensions</a></li>
          <li class="upload"><a href="{{ url('extensions-upload-file') }}">Add yours</a></li>
          <li class="local"><a href="{{ url('extensions-local') }}">Installed extensions</a></li>
        </ul>
        
        <!-- <div class="right"> -->
        <!--   <input id="search_input" type="text" placeholder="Search..." /> -->
        <!-- </div> -->
        
        <div class="clear"></div>
      </div>
    </div>

    <div id="gnome_container">
      <div class="maxwidth">
        <div id="content">
          <div id="message_container">
            {% for message in messages %}
            <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}

            {% block extra_messages %}
            {% endblock %}
          </div>
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>

    <div id="footer_art" class="default">
    </div>
    
    <div id="footer_grass">
    </div>

    <div id="footer">
      <div class="maxwidth">
        <div class="grid_9 links">
          {% include "footer_links.html" %}
        </div>
        <div class="grid_9" id="footnotes">
          Copyright &copy; 2005&#8210;2011 <strong class="gnome_logo">The GNOME Project</strong><br>
          <small>Free to share and remix: <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons CC-BY</a>. Optimised for standards. Hosted by <a href="https://www.redhat.com/">Red Hat</a>. Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="https://git.gnome.org/browse/extensions-web">SweetTooth</a></small>
        </div>

        <p class="alpha-disclaimer">GNOME Shell Extensions is alpha software. Help us out by <a href="https://bugzilla.gnome.org/enter_bug.cgi?product=website&component=extensions.gnome.org">reporting bugs and letting know what you think!</a></p>
        <div class="clear"></div>
    </div>
  </body>
</html>
