<div class="links grid_9">
                <div class="menu-footer-container"><ul class="menu" id="menu-footer"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1048" id="menu-item-1048"><a href="/">The GNOME Project</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1049" id="menu-item-1049"><a href="http://www.gnome.org/about/">About Us</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1050" id="menu-item-1050"><a href="http://www.gnome.org/get-involved/">Get Involved</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1051" id="menu-item-1051"><a href="http://www.gnome.org/teams/">Teams</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1052" id="menu-item-1052"><a href="http://foundation.gnome.org">The GNOME Foundation</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1053" id="menu-item-1053"><a href="http://www.gnome.org/support-gnome/">Support GNOME</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1054" id="menu-item-1054"><a href="http://www.gnome.org/contact/">Contact us</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1047" id="menu-item-1047"><a href="#">Resources</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1055" id="menu-item-1055"><a href="http://developer.gnome.org">Developer Center</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1056" id="menu-item-1056"><a href="http://library.gnome.org">Documentation</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1057" id="menu-item-1057"><a href="http://live.gnome.org">Wiki</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1058" id="menu-item-1058"><a href="http://mail.gnome.org/mailman/listinfo">Mailing Lists</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1059" id="menu-item-1059"><a href="http://live.gnome.org/GnomeIrcChannels">IRC Channels</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1060" id="menu-item-1060"><a href="https://bugzilla.gnome.org/">Bug Tracker</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1061" id="menu-item-1061"><a href="http://git.gnome.org/browse/">Development Code</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1062" id="menu-item-1062"><a href="http://live.gnome.org/Jhbuild">Build Tool</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1046" id="menu-item-1046"><a href="/news">News</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1063" id="menu-item-1063"><a href="http://www.gnome.org/press/">Press Releases</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1064" id="menu-item-1064"><a href="http://library.gnome.org/misc/release-notes/3.0/">Latest Release</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1065" id="menu-item-1065"><a href="http://planet.gnome.org">Planet GNOME</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1066" id="menu-item-1066"><a href="http://gnomejournal.org">GNOME Journal</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1067" id="menu-item-1067"><a href="http://news.gnome.org">Development News</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1068" id="menu-item-1068"><a href="http://identi.ca/gnome/">Identi.ca</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1069" id="menu-item-1069"><a href="http://twitter.com/gnome">Twitter</a></li>
</ul>
</li>
</ul></div>            </div>
