{% if request.user.is_authenticated %}
<div class="user_settings user_popup">
  {% load gravatar %}
  <img class="avatar" src="{% gravatar_url request request.user.email %}">
  <ul>
    <li><a href="{% url auth-profile user=request.user.username %}">Your profile</a></li>
    <li><a href="{% url auth-settings user=request.user.username %}">Website Settings</a></li>
    <li><a href="{% url auth-logout %}">Log Out</a></li>
  </ul>
</div>
{% else %}
{% include "registration/login_popup_form.html" %}
{% endif %}
