{% extends "base.html" %}

{% block title %}Unreviewed Extensions - {{ super() }}{% endblock %}

{% block body %}
<h2> Unreviewed Extensions </h2>
<ul class="extensions">
{% for version in version_list %}
{% with extension = version.extension %}
<li class="extension">
  <h3 class="extension-name"><a href="{{ url('review-version', pk=version.pk) }}"><img src="{{ extension.icon.url }}" class="icon">{{ extension.name }}</a></h3>
  <span class="author">by <a href="{{ url('auth-profile', user=extension.creator) }}">{{ extension.creator }}</a></span>
  <p class="description">
    {{ extension.description }}
  </p>
</li>
{% endwith %}
{% endfor %}
</ul>
{% endblock %}
