{% extends "base.html" %}

{% block title %}Review "{{ version.extension.name }}" - {{ super() }}{% endblock %}

{% block body %}
<h2 class="expanded"> Details Page Preview </h2>
<div id="preview">
  <div class="extension">
    <img src="{{ extension.icon.url }}" class="icon">

    {% if extension.screenshot %}
    <a href="{{ extension.screenshot.image.url }}" class="screenshot">
      <img src="{{ thumbnail(extension.screenshot, '300x200').url }}" />
    </a>
    {% endif %}

    <h3 class="extension-name">{{ extension.name }}</h3>
    <span class="author">by <a href="{{ url('auth-profile', user=extension.creator) }}">{{ extension.creator }}</a></span>
    <p class="description">
      {{ extension.description }}
    </p>
    <hr>

    No comments.
    <div class="clear"></div>
  </div>
</div>

<h2 class="expanded"> Files </h2>
<div>
  <div id="files" data-pk="{{ version.pk }}">
  </div>
  <p>Note: Binary files aren't showed on the web site. To see all
    files, please <a href="{{ url('review-download', pk=version.pk) }}">download
      the extension zipfile</a>.</p>
</div>

{% if previous_versions %}
<h2 class="expanded"> Diff Against Previous Version </h2>
<div id="diff" data-pk="{{ version.pk }}">
</div>
{% endif %}

<h2 class="expanded"> Previous Versions </h2>
<div id="previous_versions">
  {% if previous_versions %}
  <table>
    <thead>
      <th>Version</th>
      <th>Status</th>
    </thead>
    <tbody>
      {% for version in previous_versions %}
      <tr>
        <td><a href="{{ url('extensions-version-detail', ext_pk=extension.pk, slug=extension.slug, pk=version.pk) }}">{{ version.version }}</a></td>
        <td>
          <span class="{{ version.get_status_class }}">{{ version.get_status_display }}</span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>There are no previous versions of <span>{{ version.extension.name }}</span></p>
  {% endif %}
</div>

{% if previous_reviews %}
<h2 class="expanded"> Previous Reviews on this Version </h2>
<div id="previous_reviews">
  {% for review in previous_reviews %}
  <div class="review">
    <a class="review-author" href="{{ url('auth-profile', user=review.reviewer.username) }}">{{ review.reviewer }}</a>
    {% if review.changelog %}
    <span class="{{ review.changelog.get_newstatus_class }}">{{ review.changelog.get_newstatus_display|lower }}</span>
    {% else %}
    posted a review
    {% endif %}
    <abbr class="timestamp" title="{{ review.date.isoformat() }}">{{ review.date|datetime("%B  %d, %Y") }}</abbr>
    <blockquote>{{ review.comments }}</blockquote>
  </div>
  {% else %}
  <p>No reviews.</p>
  {% endfor %}
</div>
{% endif %}

{% block extra %}
{% endblock %}

{% endblock %}

{% block js_main %}review-main{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/review.css" />
{% endblock %}
