{% extends "review/review.html" %}

{% block extra %}
{{ super() }}

<h2 class="expanded"> Review </h2>

<div id="review">
  <form id="review_form" action="{{ url('review-submit', pk=version.pk) }}" method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <textarea id="comments" name="comments"></textarea>
{% if can_approve %}
    <select name="status">
      <option value="none" selected>No change</option>
      <option value="approve">Approve</option>
      <option value="reject">Reject</option>
    </select>
{% endif %}
    <input type="submit" value="Submit">
  </form>
</div>

{% endblock %}
