<table class="reviews">
  <thead>
    <tr>
      <th>Version</th>
      <th>Reviewer</th>
      <th>Date</th>
      <th>Comments</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    {% for review in reviews %}
    <tr>
      <td>
        <a href="{% url extensions-version-detail ext_pk=review.version.extension.pk slug=review.version.extension pk=review.version.pk %}">
          {{ review.version.version }}
        </a>
      </td>
      <td>{{ review.reviewer }}</td>
      <td>{{ review.date }}</td>
      <td>{{ review.comments }}</td>
      <td>
        {% if review.is_rejected %}
        <span class="rejected">
        {% else %}{% if review.is_active %}
        <span class="active">
        {% else %}
        <span>
        {% endif %}{% endif %}
        {{ review.get_newstatus_display }}
        </span>
    </tr>
    {% empty %}
    <tr><td colspan="5"> {{ empty|default:"No reviews." }} </td></tr>
    {% endfor %}
  </tbody>
</table>
