{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Review "{{ version.extension.name }}" - {{ block.super }}{% endblock %}

{% block body %}
{% with extension=version.extension %}
<h2 class="expanded"> Details Page Preview </h2>
<div id="preview">
  <div class="extension">
    <div class="switch insensitive"></div>

    {% if extension.icon %}
    <img src="{{ extension.icon.url }}" class="icon">
    {% endif %}

    {% if extension.screenshot %}
    {% thumbnail extension.screenshot "300x200" as th %}
    <a href="{{ screenshot.image.url }}" class="screenshot"><img src="{{ th.url }}" /></a>
    {% endthumbnail %}
    {% endif %}

    <h3 class="extension-name">{{ extension.name }}</h3>
    <span class="author">by {{ extension.creator }}</span>
    <p class="description">
      {{ extension.description }}
    </p>
    <hr>

    No comments.
    <br clear="both">
  </div>
</div>

<h2 class="expanded"> Files </h2>
<div id="files">
</div>

<h2 class="expanded"> Previous Versions </h2>
<div id="previous_versions">
  {% if previous_versions %}
  <table>
    <thead>
      <th>Version</th>
      <th>Status</th>
    </thead>
    <tbody>
      {% for version in previous_versions %}
      <tr>
        <td>{{ version.version }}</td>
        <td>
          <span class="{{ version.get_status_class }}">{{ version.get_status_display }}</span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>There are no previous versions of <span>{{ version.extension.name }}</span></p>
  {% endif %}
</div>

{% if previous_reviews %}
<h2 class="expanded"> Previous Reviews on this Version </h2>
<div id="previous_reviews">
  {% for review in previous_reviews %}
  <div class="review">
    <a class="review-author" href="{% url auth-profile user=review.reviewer.username %}">{{ review.reviewer }}</a>
    reviewed
    <abbr class="timestamp" title="{{ review.date|date:"c" }}">{{ review.date|date:"F j, Y" }}</abbr>
    <blockquote>{{ review.comments }}</blockquote>
    {% empty %}
    <p>No reviews.</p>
  </div>
  {% endfor %}
</div>
{% endif %}

{% block extra %}
{% endblock %}

{% endwith %}
{% endblock %}

{% block document-ready %}
  require(['review', 'switch'], function() {
    $(".extension .switch").switchify();
    $("#files").reviewify("{% url review-ajax-files pk=version.pk %}");
  });
  $("h2").click(function() {
    $(this).toggleClass("expanded").next().slideToggle();
  }).not(".expanded").next().hide();
{% endblock %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/css/review.css" />
{% endblock %}
