{% extends "review/review.html" %}

{% block extra %}
<h2 class="expanded"> Review </h2>
<div id="review">
  <form id="review_form" action="{% url review-submit pk=version.pk %}" method="POST">
    {% csrf_token %}
    <textarea id="comments" name="comments"></textarea>
    <input type="radio" value="Accept" name="newstatus" id="accept"> <label for="accept">Accept</label>
    <input type="radio" value="Reject" name="newstatus" id="reject"> <label for="reject">Reject</label>
    <input type="submit" value="Review">
  </form>
</div>
{% endblock %}
