{% extends "base.html" %}
{% block title %}{{ display_name }}'s Profile - {{ block.super }}{% endblock %}

{% block body %}
{% load gravatar %}
<div class="profile">
  <h2>{{ display_name }}</h2>
  <img class="gravatar" src="{% gravatar_url request.user.email 128 %}">

  <table>
    <tr>
      <td>Name</td>
      <td>{{ request.user.full_name }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ request.user.email }}</td>
    </tr>
  </table>

  <h3> {{ display_name }} has authored </h3>
  <ul>
    {% for extension in extensions %}
      <li><a href="{% url extensions-detail pk=extension.pk %}">{{ extension.name }}</a></li>
    {% endfor %}
  </ul>

  <h3> {{ display_name }} has reviewed </h3>
  <div class="reviews">
    {% for review in reviews %}
    <div class="review">
      <a href="{% url extensions-version-detail ext_pk=review.version.extension.pk slug=review.version.extension pk=review.version.pk %}">
        <span class="extension-name">{{ review.version.extension.name }}</span>
        <span class="extension-version">(version {{ review.version.version }})</span>
      </a>
      <abbr class="timestamp" title="{{ review.date|date:"c" }}">{{ review.date|date:"F j, Y" }}</abbr>
      <blockquote>{{ review.comments }}</blockquote>
    </div>
    {% empty %}
      <p>>{{ empty|default:"No reviews." }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/review-table.css" />
{% endblock %}
