{% extends "base.html" %}
{% block title %}{{ display_name }}'s Profile - {{ block.super }}{% endblock %}

{% block body %}
{% load thumbnail %}
{% load gravatar %}
<div class="profile">
  <h2>{{ display_name }}</h2>
  <img class="gravatar" src="{% gravatar_url user.email 128 %}">

  <h3> {{ display_name }} has authored </h3>
  <ul>
    {% for extension in extensions %}
    <li class="extension profile">
      <div class="switch insensitive"></div>

      <img src="{{ extension.icon.url }}" class="icon">

      {% if extension.screenshot %}
      {% thumbnail extension.screenshot "300x200" as th %}
      <img src="{{ th.url }}" />
      {% endthumbnail %}
      {% endif %}

      <h4 class="extension-name"><a href="{% url extensions-detail pk=extension.pk %}">{{ extension.name }}</a></h4>
      <p class="description">
        {{ extension.description }}
      </p>
    </li>
    {% endfor %}
  </ul>

  <h3> {{ display_name }} has reviewed </h3>
  <div class="reviews">
    {% for review in reviews %}
    <div class="review">
      <a href="{% url extensions-version-detail ext_pk=review.version.extension.pk slug=review.version.extension.slug pk=review.version.pk %}">
        <span class="extension-name">{{ review.version.extension.name }}</span>
        <span class="extension-version">(version {{ review.version.version }})</span>
      </a>
      <abbr class="timestamp" title="{{ review.date|date:"c" }}">{{ review.date|date:"F j, Y" }}</abbr>
      <blockquote>{{ review.comments }}</blockquote>
    </div>
    {% empty %}
      <p>No reviews.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
