{% extends "base.html" %}
{% block title %}{{ display_name }}'s Profile - {{ block.super }}{% endblock %}

{% block body %}
{% load gravatar %}
<div class="profile">
  <h2>{{ display_name }}</h2>
  <img class="gravatar" src="{% gravatar_url request.user.email 128 %}">

  <table>
    <tr>
      <td>Name</td>
      <td>{{ request.user.full_name }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ request.user.email }}</td>
    </tr>
  </table>

  <h3> {{ display_name }} has authored </h3>
  <ul>
    {% for extension in extensions %}
      <li><a href="{% url extensions-detail pk=extension.pk %}">{{ extension.name }}</a></li>
    {% endfor %}
  </ul>

  <h3> {{ display_name }} has reviewed </h3>
  <ul>
    {% include "review/review_table.html" with reviews=reviews %}
  </ul>
</div>
{% endblock %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/review-table.css" />
{% endblock %}
