import os
import site
import sys

os.environ['DJANGO_SETTINGS_MODULE'] = 'sweettooth.settings'

_path = os.path.dirname(__file__)

_venv = os.path.join(_path, 'venv/lib/python2.7/site-packages/')
if os.path.exists(_venv):
    site.addsitedir(_venv)

sys.path.extend([_path, os.path.join(_path, 'sweettooth')])

import django.core.handlers.wsgi
application = django.core.handlers.wsgi.WSGIHandler()
