
@import url("http://www.gnome.org/wp-content/themes/gnome-grass/style.css");

html, body {
    min-height: 100%;
}

#eee {
    text-align: center;
    font-size: 3em;
    position: relative;
    margin: 0;
    text-shadow: hsl(211, 47%, 75%) 0 3px 4px;
    top: -40px;
}

#container {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 20px);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 20px);
    border: 1px solid #eeeeee;
    border-style: none solid;
    padding-top: 30px;
    margin-top: 10px;
}

#global_domain_bar div {
    position: relative;
}

#login_link {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -moz-transition: background-color 200ms ease-out 0s;
}

#login_link.selected {
    background-color: #eee;
}

#login_popup_form {
    position: absolute;
    padding: 20px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    font-size: 50%;
    top: 35px;
    right: 30px;
    display: none;
}

#login_form ol {
    list-style-type: none;
    font-size: 200%;
}

#login_form li.submit input {
    width: 86.5%;
    margin: 0 5%;
}

#login_form label {
    display: inline-block;
    display: -moz-inline-block;
    width: 45%;
    margin-left: 5%;
    line-height: 1.8;
    vertical-align: top;
}

#login_form input {
    width: 40%;
}

li.extension {
    padding: .7em 1em;
    list-style-type: none;
    list-style-position: inner;
}

li.extension:hover {
    background-color: #ddd;
}

li.extension .title-link {
    font-size: 2em;
    text-decoration: none;
    color: #224;
}

li.extension .author {
    color: #888;
}

.button-placeholder {
    float: right;
}

.button, .button:visited {
    cursor: pointer;
    float: right;
    font-size: 1.3em;
    font-weight: bold;
    padding: .25em 1em;
    color: white;
    text-decoration: none;
    text-shadow: black 0 1px 4px;
    border-radius: 1.5em;
    width: 150px;
    text-align: center;
    margin-right: 1em;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.59, rgba(255,255,255,0))
        color-stop(0.60, rgba(255,255,255,0.2)),
        color-stop(1.00, rgba(255,255,255,0.6)),
    );

    background-image: -moz-linear-gradient(
        center bottom,
        rgba(255,255,255,0) 59%,
        rgba(255,255,255,0.2) 60%,
        rgba(255,255,255,0.6) 100%
    );
}

.button:hover {
    box-shadow: inset 0 0 1em rgba(255,255,255,0.6);
}

.button:active {
    box-shadow: inset 0 .5em 1em rgba(0,0,0,0.3);
}

.button.disable {
    background-color: #c88;
    border: 2px solid #a77;
}

.button.enable, .button.install {
    background-color: #8c8;
    border: 2px solid #7a7;
}

.button.error {
    background-color: #f85;
    border: 2px solid #e73;
}

p.error {
    display: block;
    background: #fcc;
    padding: .5em;
    margin: 0 auto;
    background-image: url(http://git.gnome.org/browse/gnome-icon-theme/plain/gnome/48x48/status/dialog-error.png);
    padding-left: 64px;
    background-repeat: no-repeat;
    background-position: 8px center;
    font-size: 2em;
}