{{#comments}}
  {{>extensions/comment}}
  <hr>
{{/comments}}
{{^show_all}}
<p class="show-all">Show more reviews</p>
{{/show_all}}

{{^comments}}
  <p>There are no comments. Be the first!</p>
{{/comments}}
