<div class="comment">
  {{#is_extension_creator}}
  <div class="extension-creator-badge">Author</div>
  {{/is_extension_creator}}
  <img src="{{gravatar}}" class="gravatar">
  <div class="rating-author">
    {{#rating}}
      <div class="rating" data-rating-value="{{rating}}"></div> by
    {{/rating}}
    <a class="comment-author" href="{{author.url}}">{{author.username}}</a>
    <p>{{comment}}</p>
    <time datetime="{{date.timestamp}}Z">{{date.standard}}</time>
  </div>
</div>
