What's wrong?



What have you tried?



Automatically detected errors:

{{#errors}}
  {{.}}

================
{{/errors}}
{{^errors}}
GNOME Shell Extensions did not detect any errors with this extension.
{{/errors}}

Version information:

    Shell version: {{sv}}
    Extension version: {{#ev}}{{ev}}{{/ev}}{{^ev}}Unknown{{/ev}}
