<div class="switch"></div>
<div class="configure-button"></div>
<img class="icon" src="{{icon}}">
<h3 class="extension-name">
  {{#link}}
    <a href="{{link}}" class="title-link"> <img src="{{icon}}" class="icon"> {{name}} </a>
  {{/link}}
  {{^link}}
  {{name}}
  {{/link}}
</h3>
{{#creator}}
  <span class="author">by <a href="{{creator_url}}"> {{creator}} </a></span>
{{/creator}}
<p class="description">
  {{first_line_of_description}}
</p>
{{#want_uninstall}}
  <button class="uninstall" title="Uninstall">Uninstall</button>
{{/want_uninstall}}
