
@import url("pygments.css");

.maxwidth {
    width: auto !important;
    margin: 0 1em;
}

#files table {
    width: 100%;
    border: 1px solid #aaa;
    border-top: none;
}

.filelist, .filedisplay > table {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.filelist {
    list-style-type: none;
    overflow: hidden;
    border: 1px solid #aaa;
    background-color: #EAF0F7;
}

.filelist li {
    margin: 0;
    margin-left: 2em;
}

.fileselector {
    float: left;
    display: block;
    padding: 0 1em;
    cursor: pointer;
    margin: 0 1px;
    line-height: 2em;

    -webkit-transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

#diff, #files {
    overflow-x: auto;
}

.file {
    padding-left: 0.5em;
}

.code {
    font-family: monospace;
    background-color: #fff;
    margin: 0;
    width: 100%;
    line-height: 1.2;
    white-space: pre;
}

.linum {
    color: #aaa;
    text-align: right;
    background-color: #eee;
    margin: 0;
    padding-right: 1em;
    border-right: 1px solid #ccc;
}

/* colors stolen from Splinter */
.diff-line.deleted, .fileselector.deleted {
    background-color: #ffccaa;
}

.diff-line.inserted, .fileselector.added {
    background-color: #bbffbb;
}

.diff-line.replaced {
    background-color: #aaccff;
}

.diff-inline.changed {
    background-color: #cceeff;
}

.fileselector.unchanged {
    color: #747474;
}

.fileselector.selected {
    cursor: auto;
    color: #2e3436;
    background-color: #C8D0D5;
    margin: 0;
    border: 1px solid #A6B0B3;
    border-style: none solid;
}

.collapsable-trigger-row.collapsed {
    height: 2.6em;
}

.collapsable-collapsed-row {
    background-color: #f4f4f4;
}

.collapsable-trigger {
    margin-left: 1.2em;
    padding: 0 0.3em;
    background-color: #aaccff;
    border-radius: 50%;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

#comments {
    resize: vertical;
    width: 100%;
    height: 250px;
    min-height: 150px;
}

#review_form input[type=submit] {
    float: right;
    margin-bottom: 20px;
}

#all_versions table {
    width: 100%;
}

#all_versions td {
    text-align: center;
}

#all_versions .current_version {
    font-weight: bold;
}

#approve {
    clear: right;
}

#approve_form {
    float: right;
}
