
@import url("template.css");
@import url("switch.css");
@import url("tipsy.css");
@import url("jquery.rating.css");

/* Login Area */
/* ==================================================================== */

/* FIXME */

#login_link {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -moz-transition: background-color 200ms ease-out 0s;
}

#login_link.selected {
    background-color: #eee;
}

#login_popup_form {
    position: absolute;
    padding: 20px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    top: 35px;
    right: 30px;
    display: none;
    z-index: 99;
}

#login_form ol {
    list-style-type: none;
    font-size: 200%;
}

#login_form li.submit input {
    width: 86.5%;
    margin: 0 5%;
}

#login_form label {
    display: inline-block;
    display: -moz-inline-block;
    width: 45%;
    margin-left: 5%;
    line-height: 1.8;
    vertical-align: top;
}

#login_form input {
    width: 40%;
}

/* Separators */
/* ==================================================================== */

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    background: rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}
hr.top_shadow,
hr.bottom_shadow {
    height: 25px;
    background: url(../images/hr-shadow.png) no-repeat bottom;
    background-size: contain;
    border: 0;
}
hr.bottom_shadow {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

ul.extensions {
    margin-top: 0;
}

li.extension {
    list-style-type: none;
    list-style-position: inner;
    margin-left: 0px;
}

.extension {
    padding: 0;
    position: relative;
}

.extension h3 {
    font-size: 2em;
}

.extension h3, .extension h3 a {
    display: inline;
    text-decoration: none;
    color: #000;
}

.extension h3 a:hover {
    color: #445;
}

.extension .author {
    color: #888;
}

.extension .switch {
    position: absolute;
    margin-left: -100px;
}

.extension .description {
    font-size: 14pt;
}

.extension .screenshot {
    float: right;
    display: block;
    width: 300px;
    height: 200px;
    margin-left: 1em;
    margin-bottom: 0.5em;
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.extension .screenshot.upload .drop {
    background: rgba(153, 255, 153, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.extension .screenshot.upload.placeholder {
    border: 2px dashed #ccc;
    background-color: #eee;
}

.extension .screenshot.upload.placeholder .text {
    display: table;
    width: 100%;
    height: 100%;
}

.extension .screenshot.upload.placeholder .text span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.extension .screenshot.upload input {
    display: none;
}

/* Comments */
/* ==================================================================== */

#comments {
    width: 510px;
    float: left;
    margin-right: 30px;
}

.comment {
    margin-left: 90px;
}

.comment .gravatar {
    position: absolute;
    margin-left: -90px;
}

.comment .rating-author {
    overflow: hidden;
}

.comment .rating {
    margin-right: 6px;
    float: left;
}

.comment .comment-author {
    font-weight: bold;
}

.comment .timestamp {
    color: #999;
}

/* Error & Messages */
/* ==================================================================== */

.error-log {
    font-family: "Droid Sans", "Deja Vu Sans Mono", monospace;
    line-height 1.4;
    color: #00CC00;
    background-color: #121212;
    padding: 1em;
}

p.message {
    display: block;
    padding: .5em;
    margin: 0 auto;
    padding-left: 72px;
    background-repeat: no-repeat;
    background-position: 16px center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

p.message.error {
    background-color: #fcc;
    background-image: url(../images/error.png);
    border-bottom: 1px solid #b44;
}

p.message.info {
    background-color: #ccf;
    background-image: url(../images/info.png);
    border-bottom: 1px solid #aad;
}

.editable {
    background-color: #F4F0D4;
}

#comments {
    float: left;
}

/* Forms */
/* ==================================================================== */

input, textarea, input[type=submit], button {
    border: 1px solid #999;
    border-radius: 4px;
}

input[type=submit], button {
    background-color: #ddd;
    color: #444;
    padding: .2em 2em;
    font-weight: bold;
    padding: .1em 2em;
}


/* New comment form */
/* ==================================================================== */

#new-comment-form {
    overflow: hidden;
}

#new-comment-form label {
    display: block;
}

#new-comment-form p input,
#new-comment-form p textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
}

#new-comment-form p textarea {
    resize: vertical;
    min-height: 150px;
}

#new-comment-form .submit-post {
    float: right;
}
