
@import url("template.css");
@import url("switch.css");
@import url("tipsy.css");
@import url("jquery.rating.css");

form input {
    font-size: 100%;
}

#global_domain_bar div, #global_domain_bar div a {
    position: relative;
}

#login_link {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -moz-transition: background-color 200ms ease-out 0s;
}

#login_link.selected {
    background-color: #eee;
}

#login_popup_form {
    position: absolute;
    padding: 20px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    font-size: 50%;
    top: 35px;
    right: 30px;
    display: none;
    z-index: 99;
}

#login_form ol {
    list-style-type: none;
    font-size: 200%;
}

#login_form li.submit input {
    width: 86.5%;
    margin: 0 5%;
}

#login_form label {
    display: inline-block;
    display: -moz-inline-block;
    width: 45%;
    margin-left: 5%;
    line-height: 1.8;
    vertical-align: top;
}

#login_form input {
    width: 40%;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #aaa;
}

li.extension {
    list-style-type: none;
    list-style-position: inner;
}

li.extension:hover {
    background-color: #ddd;
}

.extension {
    padding: .7em 1em;
    margin-left: 100px;
    position: relative;
}

.extension .title-link, .extension h3 {
    display: inline;
    font-size: 2em;
    text-decoration: none;
    color: #224;
}

.extension .author  {
    color: #888;
}

.extension .switch {
    position: absolute;
    margin-left: -100px;
}

.extension .description {
    font-size: 14pt;
}

.extension .screenshot.featured {
    float: right;
}

#comments {
    width: 60%;
}

.comment {
    margin-left: 90px;
    font-size: 12pt;
}

.comment .gravatar {
    position: absolute;
    margin-left: -90px;
}

.comment .rating {
    margin-right: 6px;
    float: left;
}

.comment .comment-author {
    font-weight: bold;
}

.comment .timestamp {
    color: #999;
}

.error-log {
    font-family: "Droid Sans", "Deja Vu Sans Mono", monospace;
    line-height 1.4;
    color: #00CC00;
    background-color: #121212;
    padding: 1em;
}

p.error {
    display: block;
    background: #fcc;
    padding: .5em;
    margin: 0 auto;
    background-image: url(http://git.gnome.org/browse/gnome-icon-theme/plain/gnome/48x48/status/dialog-error.png);
    padding-left: 64px;
    background-repeat: no-repeat;
    background-position: 8px center;
    font-size: 2em;
}

.editable {
    background-color: #F4F0D4;
}

#comments {
    float: left;
}

#new-comment-form {
    overflow: hidden;
}

#new-comment-form div {
    float: right;
    font-family: Cantarell, 'Droid Sans', Ubuntu, 'DejaVu Sans', Arial, sans-serif;
    line-height: 1.6;
    color: #2e3436;
}

#new-comment-form label {
    display: block;
    font-size: 12pt;
}

#new-comment-form p input, #new-comment-form p textarea {
    width: 100%;
    margin-left: -2px;
}

#new-comment-form p input, #new-comment-form p textarea, #new-comment-form .submit-post {
    border: 1px solid #999;
    border-radius: 4px;
}

#new-comment-form .submit-post {
    float: right;
    background-color: #ddd;
    color: #444;
    padding: .2em 2em;
    font-weight: bold;
}
