
@import url("template.css");
@import url("switch.css");
@import url("tipsy.css");
@import url("jquery.rating.css");

/* Unreviewed Extension Counter */
/* ==================================================================== */

#unreviewed_counter {
    border-right: 1px solid #ccc;
    color: #555753;
    text-decoration: none;
    padding: 0 4px;
}

#unreviewed_counter:hover {
    background-color: #ececec;
}

/* Login Area */
/* ==================================================================== */

#global_domain_bar .login_popup_form:before {
    width: 20px;
    height: 10px;
    margin-top: -17px;
    right: 10px;
    position: absolute;
    content: url(../images/globaldomain-popup-arrow.png);
}

#global_domain_bar .login_popup_form {
    display: none;
    z-index: 10;
    position: absolute;
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid rgba(100%, 100%, 100%, 0.2);
    right: 0;
    top: -10px;
    margin: 32px 0;
    min-width: 140px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#global_domain_bar .login_popup_form * {
    display: block;
    margin: 10px 5px;
}

#global_domain_bar .login_popup_form input[type=submit],
#global_domain_bar .login_popup_form a {
    color: #fff;
    display: block;
    margin: 0;
    border: 0;
    background: none;
    font-weight: normal;
    padding: 3px 0;
    border-radius: 0;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

#global_domain_bar .login_popup_form input[type=submit]:hover,
#global_domain_bar .login_popup_form a:hover {
    background: rgba(100%, 100%, 100%, 0.2);
}

#auth_form ol {
    list-style-type: none;
    font-size: 2em;
}

#auth_form .helptext {
    font-size: 0.5em;
    display: block;
}

#auth_form li.submit input {
    width: 86.5%;
    margin: 0 5%;
}

#auth_form label {
    display: inline-block;
    display: -moz-inline-block;
    width: 45%;
    margin-left: 5%;
    line-height: 1.8;
    vertical-align: top;
}

#auth_form input {
    width: 40%;
}

.alpha-banner {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
    font-size: .6em;
    background-color: #BC4242;
    background-color: rgba(188, 66, 66, 0.7);
    color: white;
    text-shadow: none;
    padding: .4em;
    position: absolute;
    border-radius: 1em;
    line-height: 1;
    margin-left: -60px;
    margin-top: -5px;
}

.alpha-warning {
    font-weight: bold;
    color: #CC0000;
}

/* Separators */
/* ==================================================================== */

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    background: rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}
hr.top_shadow,
hr.bottom_shadow {
    height: 25px;
    background: url(../images/hr-shadow.png) no-repeat bottom;
    background-size: contain;
    border: 0;
}
hr.bottom_shadow {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.paginator {
    display: block;
    background-color: #EEEEEC;
    border-radius: 3px;
    border: 1px solid #BABDB6;
    padding: 3px;
}

.paginator .number {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    margin: 0 4px;
}

.paginator .number:first-child {
    margin-left: 0;
}

.paginator .number:last-child {
    margin-right: 0;
}

.paginator .number.current {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
}

/* Extension view */
/* ==================================================================== */

#extensions-list {
    position: relative;
}

#extensions-list.loading {
    opacity: 0.5;
}

#extensions-list .loading-page {
    background: #EEEEEC;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    padding: .5em;
    text-align: center;

    position: absolute;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}

ul.extensions {
    margin-top: 0;
}

li.extension {
    list-style-type: none;
    list-style-position: inner;
    margin-left: 0px;

    border-bottom: 1px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

li.extension:last-child {
    border-bottom: 0;
}

.extension {
    padding: 0;
    margin-top: 10px;
    position: relative;
}

.extension.out-of-date {
    opacity: 0.5;
}

.extension .extension-name {
    margin-left: 48px;
    font-size: 1.3em;
}

.extension .extension-name, .extension .extension-name a {
    display: inline;
    text-decoration: none;
    color: #000;
}

.extension .extension-name a:hover {
    color: #445;
}

.extension .author, .extension .author a {
    color: #888;
}

.extension .author a:hover {
    color: #666;
}

.extension ._gnome-switch {
    position: absolute;
    margin-left: -100px;
    margin-top: 8px;
}

@media screen and (max-width: 1165px) {
    .maxwidth {
        margin-left: 105px;
    }
}

.extension .description {
    font-size: 1.2em;
}

.extension .description,
.extension dl {
    margin-left: 48px;
}

.extension .screenshot {
    float: right;
    display: block;
    width: 300px;
    height: 200px;
    margin-left: 1em;
    margin-bottom: 0.5em;
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
}

.extension .screenshot.upload .drop {
    background: rgba(153, 255, 153, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.extension .icon {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0px;
    margin-top: 4px;
    padding: 2px 16px 2px 2px;
}

.extension .upload {
    cursor: pointer;
}

.extension .upload.placeholder {
    border: 2px dashed #ccc;
    padding: 0;
    background-color: #eee;
}

.extension .screenshot.upload.placeholder .text {
    display: table;
    width: 100%;
    height: 100%;
}

.extension .screenshot.upload.placeholder .text span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.extension .upload input {
    display: none;
}

.extension .uninstall {
    text-indent: -9999em;
    border: none;
    padding: 0;

    background-color: transparent;
    background-image: url(../images/edit-delete.png);

    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.8em;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.extension dt, .extension dd {
    font-size: 1em;
    display: inline-block;
    padding: 0 1em 0 0;
}

.extension .report {
    overflow: auto;
}

.extension .report .txt {
    display: block;
    height: 32px;
    padding-left: 36px;
    font-size: 16pt;
    background-repeat: no-repeat;
}

.extension .report.error .txt {
    background-image: url(../images/face-angry.png);
}

.extension .report.rating .txt {
    background-image: url(../images/face-smile.png);
    margin-bottom: 10px;
}

.extension .report p {
    line-height: 1.7em;
}

.extension .report.error, .extension .unauthenticated {
    background: #EEEEEC;
    border: 1px solid #BABDB6;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    clear: both;
    padding: 20px;

    /* Extra margin on the bottom, left and right is for
     * the shadow -- we use overflow: hidden on the parent
     * to establish a BFC, so it will clip the shadow. */
    margin: 20px 4px 4px 4px;
}

.extension .report.error p {
    padding-left: 16px;
}

.extension table {
    width: 100%;
}

.extension th {
    text-align: left;
}

.extension_status_toggle {
    display: none;
}

.extension_status_toggle.visible {
    display: table-cell;
}

span.rejected, span.reject {
    color: #c00 !important;
    font-weight: bold;
}

span.active, span.approve {
    color: #0a0 !important;
    font-weight: bold;
}

#error_report input[name=can_contact] {
    margin-left: 1em;
}

#error_report input[type=submit] {
    display: block;
    margin: 1em;
}

#error_report textarea,
#error_report div {
    display: block;
    width: 97%;
    resize: vertical;
    min-height: 80px;
    padding: 0.5em;
    margin: 1em;
}

#error_report textarea {
    height: 300px;
}

#error_report div {
    border: 1px solid #999;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-family: monospace;
    white-space: pre;
}

#error_report .email {
    display: block;
    margin: .2em auto;

    background-color: white;
    color: #333;
    font-family: monospace;
    font-size: 1.2em;
}

/* Comments */
/* ==================================================================== */

#comments {
    width: 510px;
    float: left;
    margin-right: 30px;
}

.comment {
    margin-left: 90px;
}

.comment .gravatar {
    position: absolute;
    margin-left: -90px;
}

.comment .rating-author {
    overflow: hidden;
}

.comment .rating {
    margin-right: 6px;
    float: left;
}

.comment .comment-author {
    font-weight: bold;
}

.comment .timestamp {
    color: #999;
}

.comment .extension-creator-badge {
    font-weight: bold;
    background-color: rgb(255,255,200);
    position: absolute;
    margin-left: -90px;
    padding: 0.2em;
    z-index: 999;
}

/* Error & Messages */
/* ==================================================================== */

p.message {
    min-height: 42px;
    display: block;
    padding: .5em;
    margin: 0 auto;
    padding-left: 72px;
    background-repeat: no-repeat;
    background-position: 16px center;
    border: 1px solid rgba(33, 33, 33, 0.3);
    border-top: 0;
}

p.message:first-child {
    border-radius: 6px 6px 0 0;
    border-top: 1px solid rgba(33, 33, 33, 0.3);
}

p.message:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

p.message.error {
    background-color: #fcc;
    background-image: url(../images/error.png);
}

p.message.info {
    background-color: #ccf;
    background-image: url(../images/info.png);
}

p.message.warning {
    background-color: #EBDE71;
    background-image: url(../images/warning.png);
}

#message_container {
    margin-bottom: 1em;
}

.editable {
    background-color: rgba(255, 255, 200, 0.4);
}

/* Forms */
/* ==================================================================== */

input, textarea, input[type=submit], button {
    border: 1px solid #999;
    border-radius: 4px;
}

input[type=submit], button {
    background-color: #ddd;
    color: #444;
    padding: .2em 2em;
    font-weight: bold;
    padding: .1em 2em;
}


/* New comment form */
/* ==================================================================== */

#new-comment-form {
    overflow: hidden;
}

#new-comment-form label {
    display: block;
}

#new-comment-form p input,
#new-comment-form p textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
}

#new-comment-form p textarea {
    resize: vertical;
    min-height: 150px;
}

#new-comment-form .submit-post {
    float: right;
}

/* Review List */
/* ==================================================================== */

.review {
    background: #EEEEEC;
    border: 1px solid #BABDB6;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
}

.review a {
    text-decoration: none;
}

.review a .extension-name {
    font-size: 1.4em;
    color: #000;
}

.review a:hover .extension-name {
    color: #445;
}

.review abbr, .review .extension-version {
    color: #666;
    font-size: smaller;
}

.review abbr {
    float: right;
}

.review blockquote {
    padding: .5em;
    white-space: pre;
    white-space: pre-wrap;
    border: 1px solid #BABDB6;
    border-left: 1em solid #A5A5AF;
    border-radius: 2px 2px 2px 2px;
}

.review blockquote.empty {
    color: #888;
}

.alpha-disclaimer {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}


/* Instruction steps */
/* ==================================================================== */

.step {
    background-color: #EEEEEC;
    border: 1px solid #aaa;
    padding: 1em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.step p {
    line-height: 1.8em;
}

.step .steptitle {
    color: #666;
    margin: 0;
}

.step .steptitle span {
    display: inline-block;

    border-radius: 0.7em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;

    color: #fff;
    background-color: #666;
    text-shadow: 1px 1px 0 #333;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.step .warning {
    color: #cc0000;
    font-weight: bold;
}

.step.lock button {
    display: block;
    margin: 10px auto 0;
}

.expandy_header {
    cursor: pointer;
    background-color: #336C84;
    color: white;
    line-height: 1.5em;
    padding-left: 0.5em;
    margin-bottom: 0;
    margin-top: 10px;
    clear: both;
}

.expandy_header:hover {
    background-color: #447D95;
}

.expandy_header:before {
    content: "";
    display: block;
    float: left;
    border-color: transparent;
    border-left-color: white;
    border-style: solid;
    border-width: .4em;
    margin-top: .4em;
    width: 0;

    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    -webkit-transform-origin: 25% 50%;

    -moz-transition: -moz-transform 0.4s ease-in-out;
    -moz-transform-origin: 25% 50%;

    -o-transition: -o-transform 0.4s ease-in-out;
    -o-transform-origin: 25% 50%;

    transition: transform 0.4s ease-in-out;
    transform-origin: 25% 50%;
}

.expandy_header.expanded:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
