
@import url("template.css");
@import url("switch.css");
@import url("tipsy.css");
@import url("jquery.rating.css");

/* Unreviewed Extension Counter */

#unreviewed_counter {
    border-right: 1px solid #ccc;
    color: #555753;
    text-decoration: none;
    padding: 0 4px;
}

#unreviewed_counter:hover {
    background-color: #ececec;
}

/* Login Area */
/* ==================================================================== */

#global_domain_bar .login_popup_form:before {
    width: 20px;
    height: 10px;
    margin-top: -17px;
    right: 10px;
    position: absolute;
    content: url(../images/globaldomain-popup-arrow.png);
}

#global_domain_bar .login_popup_form {
    display: none;
    z-index: 10;
    position: absolute;
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid rgba(100%, 100%, 100%, 0.2);
    right: 0;
    top: -10px;
    margin: 32px 0;
    min-width: 140px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#global_domain_bar .login_popup_form * {
    display: block;
    margin: 10px 5px;
}

#global_domain_bar .login_popup_form input[type=submit],
#global_domain_bar .login_popup_form a {
    color: #fff;
    display: block;
    margin: 0;
    border: 0;
    background: none;
    font-weight: normal;
    padding: 3px 0;
    border-radius: 0;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

#global_domain_bar .login_popup_form input[type=submit]:hover,
#global_domain_bar .login_popup_form a:hover {
    background: rgba(100%, 100%, 100%, 0.2);
}

#login_form ol {
    list-style-type: none;
    font-size: 200%;
}

#login_form li.submit input {
    width: 86.5%;
    margin: 0 5%;
}

#login_form label {
    display: inline-block;
    display: -moz-inline-block;
    width: 45%;
    margin-left: 5%;
    line-height: 1.8;
    vertical-align: top;
}

#login_form input {
    width: 40%;
}

/* Separators */
/* ==================================================================== */

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    background: rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}
hr.top_shadow,
hr.bottom_shadow {
    height: 25px;
    background: url(../images/hr-shadow.png) no-repeat bottom;
    background-size: contain;
    border: 0;
}
hr.bottom_shadow {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Extension view */
/* ==================================================================== */

ul.extensions {
    margin-top: 0;
}

li.extension {
    list-style-type: none;
    list-style-position: inner;
    margin-left: 0px;
}

.extension {
    padding: 0;
    margin-top: 10px;
    position: relative;
}

.extension h3 {
    margin-left: 48px;
    font-size: 2em;
}

.extension h3, .extension h3 a {
    display: inline;
    text-decoration: none;
    color: #000;
}

.extension h3 a:hover {
    color: #445;
}

.extension .author, .extension .author a {
    color: #888;
}

.extension .author a:hover {
    color: #666;
}

.extension ._gnome-switch {
    position: absolute;
    margin-left: -100px;
    margin-top: 8px;
}

.extension .description {
    font-size: 14pt;
}

.extension .screenshot {
    float: right;
    display: block;
    width: 300px;
    height: 200px;
    margin-left: 1em;
    margin-bottom: 0.5em;
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
}

.extension .screenshot.upload .drop {
    background: rgba(153, 255, 153, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.extension .icon {
    width: 32px;
    height: 32px;
    position: absolute;
    margin-top: 4px;
    padding: 2px;
}

.extension .upload {
    cursor: pointer;
}

.extension .upload.placeholder {
    border: 2px dashed #ccc;
    padding: 0;
    background-color: #eee;
}

.extension .screenshot.upload.placeholder .text {
    display: table;
    width: 100%;
    height: 100%;
}

.extension .screenshot.upload.placeholder .text span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.extension .upload input {
    display: none;
}

.extension .uninstall {
    text-indent: -9999em;
    border: none;
    padding: 0;

    background-color: transparent;
    background-image: url(../images/edit-delete.png);

    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.8em;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.extension dt, .extension dd {
    font-size: 1em;
    display: inline-block;
    padding: 0 1em;
}

.extension .report {
    display: block;
    height: 32px;
    padding-left: 36px;
    font-size: 16pt;
    background-repeat: no-repeat;
    margin-top: 1em;
}

.extension .report.error {
    background-image: url(../images/face-angry.png);
}

.extension .report + p {
    padding-left: 16px;
    line-height: 1.7em;
}

.extension .report.rating {
    background-image: url(../images/face-smile.png);
}

#error_report input {
    float: right;
}

#error_report textarea {
    display: block;
    width: 97%;
    resize: vertical;
    height: 300px;
    min-height: 80px;
    padding: 0.5em;
    margin: 1em;
}

#error_report textarea.no-errors {
    color: #888;
    font: inherit;
    text-align: center;
    height: 1.6em;
    min-height: 1.6em;
    line-height: 1.6em;
    resize: none;
}

/* Comments */
/* ==================================================================== */

#comments {
    width: 510px;
    float: left;
    margin-right: 30px;
}

.comment {
    margin-left: 90px;
}

.comment .gravatar {
    position: absolute;
    margin-left: -90px;
}

.comment .rating-author {
    overflow: hidden;
}

.comment .rating {
    margin-right: 6px;
    float: left;
}

.comment .comment-author {
    font-weight: bold;
}

.comment .timestamp {
    color: #999;
}

/* Error & Messages */
/* ==================================================================== */

.error-log {
    font-family: "Droid Sans", "Deja Vu Sans Mono", monospace;
    line-height 1.4;
    color: #00CC00;
    background-color: #121212;
    padding: 1em;
}

p.message {
    display: block;
    padding: .5em;
    margin: 0 auto;
    padding-left: 72px;
    background-repeat: no-repeat;
    background-position: 16px center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

p.message.error {
    background-color: #fcc;
    background-image: url(../images/error.png);
    border-bottom: 1px solid #b44;
}

p.message.info {
    background-color: #ccf;
    background-image: url(../images/info.png);
    border-bottom: 1px solid #aad;
}

.editable {
    background-color: rgba(255, 255, 200, 0.4);
}

#comments {
    float: left;
}

/* Forms */
/* ==================================================================== */

input, textarea, input[type=submit], button {
    border: 1px solid #999;
    border-radius: 4px;
}

input[type=submit], button {
    background-color: #ddd;
    color: #444;
    padding: .2em 2em;
    font-weight: bold;
    padding: .1em 2em;
}


/* New comment form */
/* ==================================================================== */

#new-comment-form {
    overflow: hidden;
}

#new-comment-form label {
    display: block;
}

#new-comment-form p input,
#new-comment-form p textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
}

#new-comment-form p textarea {
    resize: vertical;
    min-height: 150px;
}

#new-comment-form .submit-post {
    float: right;
}
