
@import url("template.css");
@import url("switch.css");
@import url("jquery.rating.css");

/* Unreviewed Extension Counter */
/* ==================================================================== */

#unreviewed_counter {
    border-right: 1px solid #ccc;
    color: #555753;
    text-decoration: none;
    padding: 0 4px;
}

#unreviewed_counter:hover {
    background-color: #ececec;
}

/* Login Area */
/* ==================================================================== */

#global_domain_bar .login_popup_form * {
    display: block;
    margin: 10px 5px;
}

#global_domain_bar .login_popup_form input[type=submit],
#global_domain_bar .login_popup_form a {
    color: #fff;
    display: block;
    margin: 0;
    border: 0;
    background: none;
    font-weight: normal;
    padding: 3px 0;
    border-radius: 0;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

#global_domain_bar .login_popup_form input[type=submit]:hover,
#global_domain_bar .login_popup_form a:hover {
    background: rgba(100%, 100%, 100%, 0.2);
}

#auth_form ol {
    list-style-type: none;
    font-size: 2em;
}

#auth_form .helptext {
    font-size: 0.5em;
    display: block;
}

#auth_form li.submit input {
    width: 86.5%;
    margin: 0 5%;
}

#auth_form label {
    display: inline-block;
    width: 45%;
    margin-left: 5%;
    line-height: 1.8;
    vertical-align: top;
}

#auth_form input {
    width: 40%;
}

.beta-banner {
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    transform: rotate(-35deg);
    z-index: -1;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: Serif;
    font-size: 1.4em;
    position: absolute;
    width: 200px;
    top: 36px;
    left: -45px;
    border: 1px solid #4e9a06;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.beta-banner span {
    display: block;
    background-image: linear-gradient(#4e9a06, #73d216);
    background-image: -o-linear-gradient(#4e9a06, #73d216);
    background-image: -ms-linear-gradient(#4e9a06, #73d216);
    background-image: -moz-linear-gradient(#4e9a06, #73d216);
    background-image: -webkit-linear-gradient(#4e9a06, #73d216);
    background-color: #73d216;
    color: white;
    text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.4);
    border-top: 1px solid #73d216;
    border-bottom: 1px solid #a9ef65;
}

.beta-disclaimer {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

/* Separators */
/* ==================================================================== */

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    background: rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}
hr.top_shadow,
hr.bottom_shadow {
    height: 25px;
    background: url(../images/hr-shadow.png) no-repeat bottom;
    background-size: contain;
    border: 0;
}
hr.bottom_shadow {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Paginator, Filtering and Sorting UI */
/* ==================================================================== */

.paginator {
    display: block;
    background-color: #EEEEEC;
    border-radius: 3px;
    border: 1px solid #BABDB6;
    padding: 3px;
}

.paginator.loading {
    background-image: url(../images/spinner.gif);
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

.paginator .number {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    margin: 0 4px;
    border-radius: 4px;
}

.paginator .number,
.fsui-dropdown-link {
    border-radius: 4px;
    cursor: pointer;

    text-decoration: none;
    color: #204a87;

    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.fsui-dropdown-link {
    padding: 0.2em 0.4em;
    margin: 0 0.6em;
}

.paginator .number:hover,
.fsui-dropdown-link:hover {
    background-color: #f4f4f4;
}

.paginator .number.current,
.fsui-dropdown-link.selected {
    background-color: #ffffff;
    text-decoration: none;
    color: #222;
}

.paginator .number.current {
    border: 1px solid rgb(200, 200, 200);
    cursor: default;
}

.paginator .number:first-child {
    margin-left: 0;
}

.paginator .number:last-child {
    margin-right: 0;
}

.paginator-content {
    text-align: center;
}

.fsui {
    float: right;
    font-size: 0.8em;
    position: relative;
    top: -1.9em;
}

.fsui-dropdown-link-arrow {
    position: relative;
    margin-left: .25em;
    top: -.25em;
}

.fsui-dropdown {
    background-color: #fff;
    position: absolute;
    margin-top: -4px;
    border-radius: 4px 0 4px 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.fsui-dropdown ul {
    margin: 0;
}

.fsui-dropdown-item {
    text-decoration: none;
    color: #444;
    list-style-position: inside;
    list-style-type: none;
    cursor: pointer;
    margin-left: 0;
    padding: .2em 1em .2em 2em;
}

.fsui-dropdown-item.selected {
    list-style-type: disc;
    padding-left: 1em;
}

.fsui-dropdown-item:hover {
    background-color: #e5e5e0;
}

/* Extension view */
/* ==================================================================== */

#extensions-list {
    position: relative;
}

ul.extensions {
    margin-top: 0;
}

li.extension {
    list-style-type: none;
    list-style-position: inside;
    margin-left: 0px;

    border-bottom: 1px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

li.extension:last-child {
    border-bottom: 0;
}

.extension {
    padding: 0;
    margin-top: 10px;
    position: relative;
}

.extension.out-of-date > * {
    opacity: 0.5;
}

.extension.out-of-date .uninstall,
.extension.out-of-date .upgrade-button {
    opacity: 1.0;
}

.extension .extension-name a {
    color: #000;
    text-decoration: none;
}

.extension .extension-name {
    display: inline-block;
    line-height: 32px;
    margin: 0;
    margin-left: 8px;
    font-size: 1.3em;
}

.extension .extension-name a:hover {
    color: #445;
}

.extension .author, .extension .author a {
    color: #888;
}

.extension .author a:hover {
    color: #666;
}

.extension ._gnome-switch {
    position: absolute;
    margin-left: -100px;
    margin-top: 4px;
}

._gnome-switch.customized .error {
    border-color: #a43465;
    background-color: #d94a60;
}

@media screen and (max-width: 1308px) {
    .maxwidth {
        margin-left: 176px;
    }
}

.extension .description {
    margin: 0.5em;
    font-size: 1.2em;
    overflow: auto;
    white-space: pre-line;
}

.extension textarea {
    /* sync with fonts.css */
    /* textareas don't inherit body fonts for whatever reason */
    font-family: Cantarell, 'Droid Sans', Ubuntu, 'DejaVu Sans', Arial, sans-serif;
}

.extension textarea, .extension input {
    border: 0;
    border-radius: 0;

    line-height: 1.6;
    font-size: 100%;
}

.extension .screenshot {
    margin-right: 0.5em;
    border: 1px solid #cccccc;
    background: #ffffff;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
}

.extension .screenshot img {
    max-width: 300px;
    max-height: 200px;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}

.extension .icon, .extension .icon img {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: bottom;
}

.extension .upload {
    cursor: pointer;
}

.extension .upload.placeholder {
    border: 2px dashed #ccc;
    padding: 0;
    background-color: #eee;
}

.extension .screenshot.upload.placeholder {
    width: 250px;
    height: 200px;
}

.extension .screenshot.upload.placeholder .text {
    display: table;
    width: 100%;
    height: 100%;
}

.extension .screenshot.upload.placeholder .text span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.extension .upload + input {
    /* Hack: WebKit doesn't pop up the uploader
     * for invisible input fields, so just stuff
     * it off-screen.
     */
    position: absolute;
    left: -9999em;
}

.extension .uninstall {
    text-indent: -9999em;
    border: none;
    padding: 0;

    background-color: transparent;
    background-image: url(../images/edit-delete.png);

    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.8em;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.extension dt, .extension dd {
    font-size: 1em;
    display: inline-block;
    padding: 0 1em 0 0;
}

.extension table {
    width: 100%;
}

.extension th {
    text-align: left;
}

.extension_status_toggle {
    display: none;
}

.extension_status_toggle.visible {
    display: table-cell;
}

.extension-status.rejected, option.reject {
    color: #c00 !important;
    font-weight: bold;
}

.extension-status.active, option.approve {
    color: #0a0 !important;
    font-weight: bold;
}

#error_report input[name=can_contact] {
    margin-left: 1em;
}

#error_report input[type=submit] {
    display: block;
    margin: 1em;
}

#error_report textarea,
#error_report div {
    display: block;
    width: 97%;
    resize: vertical;
    min-height: 80px;
    padding: 0.5em;
    margin: 1em;
}

#error_report textarea {
    height: 300px;
}

#error_report div {
    border: 1px solid #999;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-family: monospace;
    white-space: pre;
}

#error_report .email {
    display: block;
    margin: .2em auto;

    background-color: white;
    color: #333;
    font-family: monospace;
    font-size: 1.2em;
}

/* Comments */
/* ==================================================================== */

#comments {
    width: 510px;
    float: left;
    margin-right: 30px;
}

#comments .show-all {
    font-weight: bold;
    cursor: pointer;
    color: #204a87;
}

#comments .show-all:hover {
    color: #3465a4;
}

#comments .show-all.loading {
    color: #EEEEEC;
    cursor: default;
}

.comment {
    margin-left: 90px;
}

.comment .gravatar {
    position: absolute;
    margin-left: -90px;
}

.comment .rating-author {
    overflow: hidden;
}

.comment .rating {
    margin-right: 6px;
    float: left;
}

.comment .comment-author {
    font-weight: bold;
}

.comment time {
    color: #999;
}

.comment .extension-creator-badge {
    font-weight: bold;
    background-color: rgb(255,255,200);
    position: absolute;
    margin-left: -90px;
    padding: 0.2em;
    z-index: 999;
}

/* Error & Messages */
/* ==================================================================== */

p.message {
    min-height: 42px;
    display: block;
    padding: .5em;
    margin: 0 auto;
    padding-left: 72px;
    background-repeat: no-repeat;
    background-position: 16px center;
    border: 1px solid rgba(33, 33, 33, 0.3);
    border-top: 0;
}

p.message:first-child {
    border-radius: 6px 6px 0 0;
    border-top: 1px solid rgba(33, 33, 33, 0.3);
}

p.message:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

p.message.error {
    background-color: #fcc;
    background-image: url(../images/error.png);
}

p.message.info {
    background-color: #ccf;
    background-image: url(../images/info.png);
}

p.message.warning {
    background-color: #EBDE71;
    background-image: url(../images/warning.png);
}

#message_container {
    margin-bottom: 1em;
}

.editable {
    background-color: rgba(255, 255, 200, 0.8);
}

/* Forms */
/* ==================================================================== */

input, textarea, input[type=submit], button {
    padding: 3px;
    border: 1px solid #999;
    border-radius: 4px;
    background-color: #fff;
}

input[type=submit], button {
    background-color: #ddd;
    color: #444;
    padding: .2em 2em;
    font-weight: bold;
    padding: .1em 2em;
}


/* Opinion form */
/* ==================================================================== */

#opinion_form {
    overflow: hidden;
}

#opinion_form label {
    display: block;
}

#opinion_form .rating {
    float: left;
}

#opinion_form p input,
#opinion_form p textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
    border: 1px solid #888;
}

#opinion_form p textarea {
    resize: vertical;
    min-height: 150px;
}

#opinion_form input[type=submit] {
    height: 32px;
    float: right;
}

#opinion_form .comment_choice {
    display: block;
    height: 32px;
    font-size: 16pt;
    background-repeat: no-repeat;
}

#opinion_form .comment_choice a.selected {
    font-weight: bold;
}

#opinion_form .unauthenticated {
    background: #EEEEEC;
    border: 1px solid #BABDB6;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    clear: both;
    padding: 20px;

    /* Extra margin on the bottom, left and right is for
     * the shadow -- we use overflow: hidden on the parent
     * to establish a BFC, so it will clip the shadow. */
    margin: 20px 4px 4px 4px;
}

/* Review List */
/* ==================================================================== */

.review {
    background: #EEEEEC;
    border: 1px solid #BABDB6;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
}

.review a {
    text-decoration: none;
}

.review a .extension-name {
    font-size: 1.4em;
    color: #000;
}

.review a:hover .extension-name {
    color: #445;
}

.review abbr, .review .extension-version {
    color: #666;
    font-size: smaller;
}

.review abbr {
    float: right;
}

.review blockquote {
    padding: .5em;
    white-space: pre;
    white-space: pre-wrap;
    border: 1px solid #BABDB6;
    border-left: 1em solid #A5A5AF;
    border-radius: 2px 2px 2px 2px;
}

.review blockquote.empty {
    color: #888;
}


/* Instruction steps */
/* ==================================================================== */

.step {
    background-color: #EEEEEC;
    border: 1px solid #aaa;
    padding: 1em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.expandy_header {
    cursor: pointer;
    background-color: #336C84;
    color: white;
    line-height: 1.5em;
    padding-left: 0.5em;
    margin-bottom: 0;
    margin-top: 10px;
    clear: both;
}

.expandy_header:hover {
    background-color: #447D95;
}

.expandy_header:before {
    content: "";
    display: block;
    float: left;
    border-color: transparent;
    border-left-color: white;
    border-style: solid;
    border-width: .4em;
    margin-top: .4em;
    width: 0;

    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    -webkit-transform-origin: 25% 50%;

    -moz-transition: -moz-transform 0.4s ease-in-out;
    -moz-transform-origin: 25% 50%;

    -o-transition: -o-transform 0.4s ease-in-out;
    -o-transform-origin: 25% 50%;

    transition: transform 0.4s ease-in-out;
    transform-origin: 25% 50%;
}

.expandy_header.expanded:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.extension .extra-buttons {
    position: absolute;
    margin-left: -172px;
    margin-top: 4px;
    width: 72px;
}

.extension .configure-button,
.extension .upgrade-button {
    display: none;
}

.extension.configurable .configure-button,
.extension.upgradable .upgrade-button {
    float: right;

    display: block;
    height: 24px;
    width: 24px;

    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    margin-right: 8px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 4px;
    cursor: pointer;
}

.extension.configurable .configure-button {
    background-color: #4a90d9;
    background-image: url(../images/configure-extension.png);
    border-color: #3465a4;
}

.extension.configurable .configure-button:hover {
    background-color: #5ba1ff;
    border-color: #5485c4;
}

.extension.upgradable .upgrade-button {
    background-color: #60b94a;
    background-image: url(../images/upgrade.png);
    border-color: #559424;
}

.extension.upgradable .upgrade-button:hover {
    background-color: #71ca5b;
    border-color: #75a444;
}
