
._gnome-switch {
    background-color: #000;
    border: 2px solid #2e3436;
    color: white;
    width: 64px;
    padding: 1px 6px;
    border-radius: 4px;
    position: relative;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;

    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

/* create a new BFC to have floating label work correctly.
 * http://colinaarts.com/articles/float-containment/ */
._gnome-switch:before, ._gnome-switch:after {
  content    : '';
  display    : table;
}

._gnome-switch:after {
  clear: both;
}

,switch { display : inline-block; }
._gnome-switch { display : block; }



._gnome-switch, ._gnome-switch * {
    display: block;
}

._gnome-switch .slider.not-dragging {
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -ms-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
}

._gnome-switch .slider {
    position: absolute;
    width: 50%;
    top: -4px;
    bottom: -4px;

    border: 3px solid #5f5f5f;
    background-color: #000;
    border-radius: 4px;
}

._gnome-switch .slider .handle {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -4px;
    width: 2px;
    height: 8px;
    border-width: 0 6px 0 2px;
    border-style: none double none solid;
    border-color: #5f5f5f;
}

._gnome-switch .off, ._gnome-switch .on {
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6),
                 0 1px 0   rgba(0, 0, 0, 0.6);
    width: 50%;
    margin: 0 -3px;
    text-align: center;
}

._gnome-switch .off {
    float: right;
}

._gnome-switch .on {
    float: left;
}

._gnome-switch.insensitive .off {
    visibility: visible;
    color: #666;
}

._gnome-switch.insensitive.activated .off {
    visibility: hidden;
}

._gnome-switch.insensitive .on {
    visibility: hidden;
}

._gnome-switch.insensitive.activated .on {
    visibility: visible;
    color: #235493;
    text-shadow: none;
}

._gnome-switch.activated {
    border-color: #3465a4;
    background-color: #4a90d9;
}

._gnome-switch.insensitive .slider {
    margin-top: 1px;
    margin-left: 1px;
    background: none;
    border-color: transparent;
}

._gnome-switch.insensitive.activated .slider .handle {
    border-color: #235493;
}
