{% extends "base.html" %}
{% block title %}What's this? - {{ block.super }}{% endblock %}
{% block body %}
<h2> What is GNOME Shell? </h2>
<p>
GNOME Shell provides core user interface functions for the GNOME
desktop, like switching to windows and launching applications. User
interface elements provided by GNOME Shell include, among other
things, the Panel at the top of the screen, the Activities Overview,
and Message Tray at the bottom of the screen.
</p>
<h2> What are GNOME Shell Extensions? </h2>
<p>
GNOME Shell extensions are small pieces of code written by third party
developers that modify the way GNOME works. (If you are familiar
with Chrome Extensions or Firefox Addons, GNOME Shell extensions
are similar to them.) You can find and install GNOME Shell
extensions using this website.
</p>
<p>
Since extensions are created outside of the normal GNOME design and
development process, they are are supported by their authors, rather
than by the GNOME community. Some features first implemented as
extensions will likely find their way into future versions of GNOME.
</p>
<h2> What can GNOME Shell Extensions do? </h2>
<p>
When you install a GNOME Shell Extension, this adds new functionality
to your OS. Extensions may make small changes, like moving your clock
to the right-hand side of the screen, or make big changes, like
arranging the windows in the Activities Overview in a different way.
</p>
<h2> Are GNOME Shell Extensions safe? </h2>
<p>
The code in a GNOME Shell extension becomes part of the core operating
system; for this reason, the potential exists for an extension to
causes system misbehavior, crashes, or even to have malicious
behavior like spying on the user or displaying unwanted
advertisements. Extensions uploaded to this site are carefully
reviewed for malicious behavior before they are made available for
download.
</p>
<p>
If you encounter problems with an extension, such as a crash, make
sure to report the problem using the "Help! It didn't work!" link on
the extension's page.
</p>
<h2> I don't think I have GNOME Shell. What can I do to get it? </h2>
<p>
The easiest way to get GNOME Shell is to install a Linux distribution
that provides GNOME 3. See the
<a href="http://www.gnome.org/getting-gnome/">Getting GNOME</a> page on
the main GNOME site to learn how to grab a Linux distribution with
GNOME 3.
</p>
<h2 id="old-version"> I'm using GNOME 3. Why can't I install extensions? </h2>
<p>
Support for installing extensions from this website was first added in
GNOME 3.2, so if you are using GNOME 3.0, you'll need to upgrade to a
newer Linux distribution. You can check what version of GNOME is
installed on your system using the "System Information" panel of
"System Settings".  If you are using GNOME 3.2 or newer and
installation still doesn't work, check to make sure that the "GNOME
Shell Integration" plugin is installed and enabled in your browser
preferences.
</p>
<p>
Note: there were some bugs in the browser plugin shipped in GNOME 3.2
that prevent it from working properly under WebKit-based browsers like
Epiphany and Chromium. These bugs have been fixed and should be
released when GNOME 3.4 ships at the beginning of March, next
year. Use Firefox for now.
</p>

{% endblock %}

{% block navclass %}about{% endblock %}
