{% extends "base.html" %}
{% block title %}What's this? - {{ block.super }}{% endblock %}
{% block body %}
<h2> What is GNOME Shell? </h2>
<p>
GNOME Shell provides core user interface functions for GNOME,
like switching to windows and launching applications. User
interface elements provided by GNOME Shell include the Panel
at the top of the screen, the Activities Overview, and Message Tray
at the bottom of the screen.
</p>
<h2> What are GNOME Shell Extensions? </h2>
<p>
GNOME Shell extensions are small pieces of code written by third party
developers that modify the way GNOME works. (If you are familiar
with Chrome Extensions or Firefox Addons, GNOME Shell extensions
are similar to them.) You can find and install GNOME Shell
extensions using this website.
</p>
<p>
Since extensions are created outside of the normal GNOME design and
development process, they are supported by their authors, rather
than by the GNOME community. Some features first implemented as
extensions might find their way into future versions of GNOME.
</p>
<h2> What can GNOME Shell Extensions do? </h2>
<p>
Extensions may make small changes, like moving your clock
to the right-hand side of the screen, or make big changes, like
arranging the windows in the Activities Overview in a different way.
</p>
<h2> Are GNOME Shell Extensions safe? </h2>
<p>
The code in a GNOME Shell extension becomes part of the core operating
system. For this reason, the potential exists for an extension to
cause system misbehavior, crashes, or even to have malicious
behavior like spying on the user or displaying unwanted
advertisements. All extensions uploaded to this site are carefully
reviewed for malicious behavior before they are made available for
download. This process of code review is similar to the process for
Firefox add-ons submitted to <a href="http://addons.mozilla.org">
addons.mozilla.org</a>.
</p>
<p>
If you encounter problems with an extension, such as a crash, make
sure to report the problem using the "Help! It didn't work!" link on
the extension's page.
</p>
<h2> I don't think I have GNOME Shell. What can I do to get it? </h2>
<p>
The easiest way to get GNOME Shell is to install a Linux distribution
that provides GNOME 3. See the
<a href="http://www.gnome.org/getting-gnome/">Getting GNOME</a> page on
the main GNOME site to learn how to grab a Linux distribution with
GNOME 3.
</p>
<h2 id="old-version"> I'm using GNOME 3. Why can't I install extensions? </h2>
<p>
Support for installing extensions from this website was first added in
GNOME 3.2, so if you are using GNOME 3.0, you'll need to upgrade to a
newer Linux distribution. You can check what version of GNOME is
installed on your system using the "System Information" panel of
"System Settings".  If you are using GNOME 3.2 or newer and
installation still doesn't work, check to make sure that the "GNOME
Shell Integration" plugin is installed and enabled in your browser
preferences.
</p>
<p>
If you are behind a proxy, make sure you have configured your proxy in
both your browser's configuration dialog as well as GNOME's Network panel
under System Settings. GNOME Shell Extensions needs both settings panels
configured for the one-click installation to work.
</p>
<p>
Note: there were some bugs in the browser plugin shipped in GNOME 3.2
that prevent it from working properly under WebKit-based browsers like
Epiphany and Chromium. These bugs have been fixed and should be
released when GNOME 3.4 ships at the beginning of March, next
year. Use Firefox for now.
</p>
<p>
If you maintain your distribution's packages for GNOME 3.2, the patches that
you will need to apply to get WebKit support working include:
</p>
<ul>
<li><a href="http://git.gnome.org/browse/gnome-shell/commit/?id=2c2729f7be6ff4d8946c51ff8b59187fe38052d1">browser-plugin: Set that we need XEmbed</a></li>
<li><a href="http://git.gnome.org/browse/gnome-shell/commit/?id=9bc1a68fe48a0b1e8f377597387baea7a90a3a5b">browser-plugin: Use g_strndup to get a string property</a></li>
<li><a href="http://git.gnome.org/browse/gnome-shell/commit/?id=ab6a7773ce0bf0b6614fe81acc26521739723853">browser-plugin: Make sure to use the UTF8Length parameter</a></li>
<li><a href="http://git.gnome.org/browse/gnome-shell/commit/?id=02af8eb824bde8cc21b58365772d67e0d6c5992f">browser-plugin: Fix memory leak when passing an invalid UUID</a></li>
</ul>
<h2 id="uninstall"> How do I uninstall my extensions? </h2>
<p>
Unfortunately, there are some bugs in GNOME 3.2 that prevented uninstallation
from working properly for some extensions. Some distributions have already
included patches to ensure that extensions can be properly installed by GNOME
Shell Extensions. To uninstall an extension manually, remove the extension's
directory, and then restart the Shell. The extension is stored
in <code>~/.local/share/gnome-shell/extensions</code>. To restart the Shell,
open the run dialog with <kbd>Alt+F2</kbd>, and enter <code>restart</code>.
</p>
<p>
Distributions that we know of that include such patches to GNOME Shell to
provide a better uninstallation experience include:
</p>
<ul>
<li><a href="http://www.mageia.org/">Maegia</a></li>
</ul>
<p>
If you maintain your distribution's packages for GNOME 3.2, the current set of
patches that you need to make extension uninstallation work correctly include:
</p>
<ul>
<li><a href="http://git.gnome.org/browse/gnome-shell/commit/?id=ef49670ae491993cbfcfe666d389485c3a7c8adb">fileUtils: Fix recursively delete dir</a></li>
<li><a href="http://git.gnome.org/browse/gnome-shell/commit/?id=bbb83656bf83c9740fe68db7e35e05ea4f129b01">extensionSystem: Set the proper 'enable' and 'type' parameters.</a></li>
</ul>
<h2> How do I update my extensions? </h2>
<p>
To update your extension to the latest version, unfortunately you have to
uninstall and reinstall the extension. Due to bugs in GNOME 3.2, you may need
to uninstall extensions manually. See <a href="#uninstall">How do I uninstall
extensions?</a> for more information. GNOME 3.4 will include features that will
make sure your extensions can be updated automatically for you.
</p>

{% endblock %}

{% block navclass %}about{% endblock %}
