<div id="comments">
  <h4>User comments</h4>
  <p class="comments-holder">Loading comments...</p>
</div>
<div id="opinion_form">
  <h4>Your opinion</h4>
  {% if request.user.is_authenticated %}
  <div class="comment_choice">
    Leave a...
    <a href="javascript:void 0" id="leave_comment">Comment</a>
    <a href="javascript:void 0" id="leave_rating">Rating</a>
    <a href="{% url errorreports.views.report_error pk=extension.pk %}">Bug report</a>
  </div>
  <div id="rating_form">
    {% load comments %}
    {% render_comment_form for extension %}
  </div>
  {% else %}
  <p class="unauthenticated">
    Unfortunately, to help prevent spam, we require that you <a href="{% url auth-login %}">log in to GNOME Shell Extensions</a> in order to post a comment or report an error. You understand, right?
  </p>
  {% endif %}
</div>
