<div id="comments">
  <h4>User comments</h4>
  {% load comments %}
  {% load gravatar %}
  {% get_comment_list for extension as comments %}
  {% for comment in comments %}
  {% if comment.user == extension.creator %}
  <div class="comment extension-creator">
    <div class="extension-creator-badge">Author</div>
  {% else %}
  <div class="comment">
  {% endif %}
    <img src="{% gravatar_url comment.email %}" class="gravatar">
    <div class="rating-author">
      Comment by
      <a class="comment-author" href="{% url auth-profile user=comment.user.username %}">{{ comment.user }}</a>
    </div>
    <p>{{ comment.comment }}</p>
    <abbr class="timestamp" title="{{ comment.submit_date|date:"c" }}">{{ comment.submit_date|date:"F j, Y" }}</abbr>
  </div>
  <hr>
  {% empty %}
  There are no comments.
  {% endfor %}
</div>
<div id="new-comment-form">
  <div>
    <h4>Your opinion</h4>
    {% if request.user.is_authenticated %}
    <div class="binary-rating">
      <div class="binary-rating-like {% if like_tracker.is_like %} depressed {% endif %}">
        <span>I like it!</span>
      </div>

      <div class="binary-rating-dislike {% if like_tracker.is_dislike %} depressed {% endif %}">
        <span>I hate it!</span>
      </div>
    </div>
    {% endif %}

    <div class="binary-rating-stats">
      <div class="binary-rating-stats-likes" style="width: {{ like_percent }}%;"></div>
      <div class="binary-rating-stats-dislikes" style="width: {{ dislike_percent }}%;"></div>
    </div>

    {% if request.user.is_authenticated %}
    <div class="report rating">
      <span class="txt">It worked, and...</span>
      {% render_comment_form for extension %}
    </div>

    <div class="report error">
      <a class="txt" href="{% url errorreports-report pk=extension.pk %}" class="report error">Help! It didn't work!</a>
      <p>
        Errors should be reported through the error reporting tool &mdash; it
        helps extension authors be known about bugs in their extension!
      </p>
    </div>
    {% else %}
    <p class="unauthenticated">
      Unfortunately, to help prevent spam, we require that you <a href="{% url auth-login %}">log in to GNOME Shell Extensions</a> in order to post a comment or report an error. You understand, right?
    </p>
    {% endif %}
  </div>
</div>
