<div id="comments">
  <h4>User comments</h4>
  {% load comments %}
  {% load gravatar %}
  {% get_comment_list for extension as comments %}
  {% for comment in comments %}
  {% if comment.user == extension.creator %}
  <div class="comment extension-creator">
    <div class="extension-creator-badge">Author</div>
  {% else %}
  <div class="comment">
  {% endif %}
    <img src="{% gravatar_url request comment.email %}" class="gravatar">
    <div class="rating-author">
      {% if comment.rating != -1 %}
      <div class="rating" data-rating-value="{{ comment.rating }}"></div> by
      {% endif %}
      <a class="comment-author" href="{% url auth-profile user=comment.user.username %}">{{ comment.user }}</a>
    </div>
    <p>{{ comment.comment }}</p>
    <time title="{{ comment.submit_date|date:"c" }}Z">{{ comment.submit_date|date:"F j, Y" }}</time>
  </div>
  <hr>
  {% empty %}
  There are no comments.
  {% endfor %}
</div>
<div id="opinion_form">
  <h4>Your opinion</h4>
  {% if request.user.is_authenticated %}
  <div class="comment_choice">
    Leave a...
    <a href="javascript:void 0" id="leave_comment">Comment</a>
    <a href="javascript:void 0" id="leave_rating">Rating</a>
    <a href="{% url errorreports-report pk=extension.pk %}">Bug report</a>
  </div>
  <div id="rating_form">
    {% render_comment_form for extension %}
  </div>
  {% else %}
  <p class="unauthenticated">
    Unfortunately, to help prevent spam, we require that you <a href="{% url auth-login %}">log in to GNOME Shell Extensions</a> in order to post a comment or report an error. You understand, right?
  </p>
  {% endif %}
</div>
