{% extends "extensions/detail.html" %}

{% block comments %}
  {% if is_visible %}
    {% include "extensions/comments.html" %}
  {% else %}
    <p style="text-align: center;">Comments will appear here after your extension is approved.</p>
  {% endif %}
{% endblock %}

{% block extra %}
  <h2 class="expandy_header expanded"> Versions </h2>
  <table>
    <thead> <tr>
        <th> Version </th> <th> Status </th> <th> Shell Versions </th> <th> Actions </th>
    </tr> </thead>
    <tbody>
      {% for version in all_versions %}
      <tr data-pk="{{ version.pk }}">
        <td> <a href="{{ version.get_absolute_url }}"> {{ version.version }} </a> </td>
        <td class="mvs">
          {% include "extensions/multiversion_status.html" %}
        </td>
        <td>
          {% for shell_version in version.shell_versions.all %}
          <code class="extension_shell_versions">{{ shell_version.version_string }}</code>
          {% endfor %}
        </td>
        {% if version.is_approved %}
        <td class="extension_status_toggle{% if version.is_active %} visible{% endif %}">
          <a href="{% url extensions-ajax-set-status-inactive %}">Inactivate</a>
        </td>
        <td class="extension_status_toggle{% if version.is_inactive %} visible{% endif %}">
          <a href="{% url extensions-ajax-set-status-active %}">Activate</a>
        </td>
        {% endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2 class="expandy_header expanded"> Shell Versions </h2>
  <div>
    <p> Shell versions mapped to their associated extension versions </p>
    <table id="extension_shell_versions_info">
      <thead> <th> Shell Version </th> <th> Extension Version </th> </thead>
      <tbody>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block screenshot %}
<div class="screenshot upload">
  <img src="{{ th.url }}" />
</div>
<input type="file" accept="image/*">
{% endblock %}

{% block no-screenshot %}
<div class="screenshot upload placeholder">
  <div class="text">
    <span>Upload a screenshot</span>
  </div>
</div>
<input type="file" accept="image/*">
{% endblock %}


{% block icon %}
<div class="icon upload">
  <img src="{{ extension.icon.url }}">
</div>
<input type="file" accept="image/*">
{% endblock %}

{% block extra-ext-class %}can-edit{% endblock %}
