{% extends "extensions/detail.html" %}

{% if is_preview %}
  {% block extra-messages %}
    {{ block.super }}
    <p class="message info">
      This is a preview of how your extension's page will look.
      You can edit any of the things marked in yellow by clicking on them.
    </p>
  {% endblock %}
{% endif %}

{% block comments %}
  {% if is_visible %}
    {% include "extensions/comments.html" %}
  {% else %}
    <p style="text-align: center;">Comments will appear here after review.</p>
  {% endif %}
{% endblock %}

{% block extra %}
  {% if is_preview %}
    <button id="submit-ajax" data-url="{% url extensions-ajax-submit pk=version.pk %}">Submit and lock the extension for review.</button>
  {% endif %}
  <a href="{% url extensions-upload-file pk=version.extension.pk %}">Upload a new version</a>
{% endblock %}

{% block extra-extension-info %}
    <ul>
      {% if user == extension.creator %}
      <li><a href="{% url extensions-upload-file pk=extension.pk %}">Upload a new version</a></li>
      {% endif %}
    </ul>
{% endblock %}


{% block document-ready %}{{ block.super }}
    window._CSRF = "{{ csrf_token }}";
    {% if is_editable %}
    $("h3, p.description").csrfEditable("{% url extensions-ajax-inline pk=version.extension.pk %}");
    {% endif %}
{% endblock %}

{% block no-screenshot %}
<div class="screenshot upload">
  <span>Upload a screenshot</span>
  <input type="file" accept="image/*">
</div>
{% endblock %}
