{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ extension.name }} - {{ block.super }}{% endblock %}

{% block extra-messages %}
  {{ block.super }}
  {% if is_rejected %}
   {% spaceless %}
    <p class="message error">
      This version of {{ extension.name }} was rejected.
      <a href="{% url extensions-detail pk=extension.pk %}">View the latest accepted version.</a>
    </p>
    {% endspaceless %}
  {% else %} {% if old_version %}
    <p class="message warning">
      You are viewing an old version of <a href="{% url extensions-detail pk=extension.pk %}">{{ extension.name }}</a>
    </p>
  {% endif %} {% endif %}
{% endblock %}

{% block body %}
{% block extra-body-header %}
{% endblock %}

    <div class="extension single-page {% block extra-ext-class %}{% endblock %}"
         data-epk="{{ extension.pk }}"
         data-uuid="{{ extension.uuid }}"
         data-ver-url-base="{% url extensions-version-detail ext_pk=extension.pk slug=extension.slug pk='' %}"
         data-svm="{{ shell_version_map }}">
      <div class="switch{% if is_rejected %} insensitive{% endif %}"></div>

      {% block icon %}
      <img src="{{ extension.icon.url }}" class="icon">
      {% endblock icon %}

      {% if extension.screenshot %}
      {% thumbnail extension.screenshot "300x200" as th %}
      {% block screenshot %}
      <a href="{{ extension.screenshot.url }}" class="screenshot"><img src="{{ th.url }}" /></a>
      {% endblock screenshot %}
      {% endthumbnail %}
      {% else %}
      {% block no-screenshot %}
      {% endblock %}
      {% endif %}

      <h3 class="extension-name" id="extension_name">{{ extension.name }}</h3>
      <span class="author">by <a href="{% url auth-profile user=extension.creator.username %}">{{ extension.creator }}</a></span>
      <p class="description" id="extension_description">
        {{ extension.description }}
      </p>

      <dl>
      {% if extension.url %}
        <dt>Extension Homepage</dt>
        <dd><a href="{{ extension.url }}" id="extension_url">{{ extension.url }}</a></dd>
      {% endif %}
      </dl>

      <div class="upgrade-me">
      </div>

      <hr style="clear: both;">

      {% block comments %}
      {% include "extensions/comments.html" %}
      {% endblock comments %}

      {% block extra %}
      {% endblock %}
</div>
{% endblock %}

{% block navclass %}main{% endblock %}
