{% extends "extensions/detail.html" %}

{% block extra-body-header %}
  {{ block.super }}
  {% if is_preview %}
  <div class="step edit">
    <h2 class="steptitle">Step <span>2</span></h2>
    <p>
      {% if is_new_extension %} We extracted this metadata from the file you uploaded. {% endif %}
      Edit anything in yellow by clicking on it.
    </p>

    <p>
      Give your extension some personality by uploading a screenshot
      and icon. Make them identifiable!
    </p>
  </div>
  {% endif %}
{% endblock %}

{% block comments %}
  {% if is_visible %}
    {% include "extensions/comments.html" %}
  {% else %}
    <p style="text-align: center;">Comments will appear here after your extension is approved.</p>
  {% endif %}
{% endblock %}

{% block extra %}
  {% if is_preview %}
  <div class="step lock">
    <h2 class="steptitle">Step <span>3</span></h2>
    <p>
      After you're satisfied with how your extension looks, submit the extension for review.
      A reviewer will review the extension you submitted to make sure there's nothing too
      dangerous. You'll be emailed the result of the review.

      <button id="submit-ajax" data-url="{% url extensions-ajax-submit pk=version.pk %}">
        Submit the extension for review.
      </button>
    </p>
  </div>
  {% endif %}

  {% if not is_preview %}
    <h2 class="expandy_header expanded"> Admin </h2>
    <ul>
      <li><a href="{% url extensions-upload-file pk=extension.pk %}">Upload a new version</a></li>
      {% if version %}
      <li><a href="{% url review-version pk=version.pk %}">View review and source</a></li>
      {% endif %}
    </ul>

  {% if is_multiversion %}
    <h2 class="expandy_header expanded"> Versions </h2>
    <table>
      <thead> <tr>
        <th> Version </th> <th> Status </th> <th> Shell Versions </th> <th> Actions </th>
      </tr> </thead>
      <tbody>
      {% for version in all_versions %}
      <tr data-pk="{{ version.pk }}">
        <td> <a href="{% url extensions-version-detail ext_pk=extension.pk slug=extension.slug pk=version.pk %}"> {{ version.version }} </a> </td>
        <td class="mvs">
          {% include "extensions/multiversion_status.html" %}
        </td>
        <td>
          {% for shell_version in version.shell_versions.all %}
          <code class="extension_shell_versions">{{ shell_version.version_string }}</code>
          {% endfor %}
        </td>
        {% if version.is_live %}
        <td class="extension_status_toggle{% if version.is_active %} visible{% endif %}">
          <a href="{% url extensions-ajax-set-status-inactive %}">Inactivate</a>
        </td>
        <td class="extension_status_toggle{% if version.is_inactive %} visible{% endif %}">
          <a href="{% url extensions-ajax-set-status-active %}">Activate</a>
        </td>
        {% endif %}

      </tr>
      {% endfor %}
      </tbody>
    </table>

    <h2 class="expandy_header expanded"> Shell Versions </h2>
    <div>
      <p> Shell versions mapped to their associated extension versions </p>
      <table id="extension_shell_versions_info">
        <thead> <th> Shell Version </th> <th> Extension Version </th> </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  {% endif %}
  {% endif %}
{% endblock %}

{% block screenshot %}
<div class="screenshot upload">
  <img src="{{ th.url }}" />
  <input type="file" accept="image/*">
</div>
{% endblock %}

{% block no-screenshot %}
<div class="screenshot upload placeholder">
  <div class="text">
    <span>Upload a screenshot</span>
  </div>
  <input type="file" accept="image/*">
</div>
{% endblock %}


{% block icon %}
<div class="icon upload">
  <img src="{{ extension.icon.url }}">
  <input type="file" accept="image/*">
</div>
{% endblock %}
