{% extends "extensions/detail.html" %}

{% block extra-body-header %}
  {{ block.super }}
  {% if is_preview %}
  <div class="step edit">
    <h2 class="steptitle">Step <span>2</span></h2>
    <p>
      We extracted this metadata from the file you uploaded.
      Edit anything in yellow clicking on it.
    </p>

    <p>
      Give your extension some personality by uploading a screenshot
      and icon. Make them identifiable!
    </p>
  </div>
  {% endif %}
{% endblock %}

{% block comments %}
  {% if is_visible %}
    {% include "extensions/comments.html" %}
  {% else %}
    <p style="text-align: center;">Comments will appear here after your extension is approved.</p>
  {% endif %}
{% endblock %}

{% block extra %}
  {% if is_preview %}
  <div class="step lock">
    <h2 class="steptitle">Step <span>3</span></h2>
    <p>
      After you're satisfied with how your extension looks, submit the extension for review.
      A reviewer will review the extension you submitted to make sure there's nothing too
      dangerous. You'll be emailed the result of the review.

      <button id="submit-ajax" data-url="{% url extensions-ajax-submit pk=version.pk %}">
        Submit the extension for review.
      </button>
    </p>
  </div>
  {% endif %}

  {% if request.user == version.extension.creator and not is_preview %}
    <a href="{% url extensions-upload-file pk=version.extension.pk %}">Upload a new version</a>
  {% endif %}
{% endblock %}

{% block screenshot %}
<div class="screenshot upload">
  <img src="{{ th.url }}" />
  <input type="file" accept="image/*">
</div>
{% endblock %}

{% block no-screenshot %}
<div class="screenshot upload placeholder">
  <div class="text">
    <span>Upload a screenshot</span>
  </div>
  <input type="file" accept="image/*">
</div>
{% endblock %}


{% block icon %}
<div class="icon upload">
  <img src="{{ extension.icon.url }}" />
  <input type="file" accept="image/*">
</div>
{% endblock %}

{% block no-icon %}
<div class="icon upload placeholder">
  <div class="dummy"></div>
  <input type="file" accept="image/*">
</div>
{% endblock %}

{% block document-ready %}{{ block.super }}
    {% if is_editable %}
    $("h3, p.description").csrfEditable("{% url extensions-ajax-inline pk=version.extension.pk %}");
    require(['uploader'], function() {
        $(".screenshot.upload").uploadify("{% url extensions-ajax-screenshot pk=version.extension.pk %}");
        $(".icon.upload").uploadify("{% url extensions-ajax-icon pk=version.extension.pk %}");
    });
    {% endif %}
{% endblock %}
