{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ version.extension.name }} - {{ block.super }}{% endblock %}

{% block extra-messages %}
  {{ block.super }}
  {% if old_version %}
    <p class="message warning">
      You are viewing an old version of <a href="{% url extension-detail pk=version.extension.pk %}">{{ version.extension.name }}</a>
    </p>
  {% endif %}
{% endblock %}

{% block body %}
{% with extension=version.extension %}
    <div class="extension"
         data-uuid="{{ extension.uuid }}"
         data-sv="{{ version.shell_versions_json }}"
         data-pk="{{ version.pk }}">
      <div class="switch"></div>

      {% if extension.icon %}
      {% block icon %}
      <img src="{{ extension.icon.url }}" class="icon">
      {% endblock icon %}
      {% else %}
      {% block no-icon %}
      <div class="no-icon"></div>
      {% endblock %}
      {% endif %}

      {% if extension.screenshot %}
      {% thumbnail extension.screenshot "300x200" as th %}
      {% block screenshot %}
      <a href="{{ extension.screenshot.url }}" class="screenshot"><img src="{{ th.url }}" /></a>
      {% endblock screenshot %}
      {% endthumbnail %}
      {% else %}
      {% block no-screenshot %}
      {% endblock %}
      {% endif %}

      <h3 id="extension_name">{{ extension.name }}</h3>
      <span class="author">by <a href="{% url auth-profile user=extension.creator.username %}">{{ extension.creator }}</a></span>
      <p class="description" id="extension_description">
        {{ extension.description }}
      </p>

      <dl>
      {% if extension.url %}
        <dt>Extension Homepage</dt>
        <dd><a href="{{ extension.url }}">{{ extension.url }}</a></dd>
      {% endif %}
      </dl>

      <hr style="clear: both;">

      {% block comments %}
      {% include "extensions/comments.html" %}
      {% endblock comments %}

      {% block extra %}
      {% endblock %}
</div>
{% endwith %}
{% endblock %}
{% block document-ready %}{{ block.super }}
    require(['jquery.timeago', 'jquery.rating', 'extensions'], function() {
        $("abbr.timestamp").timeago();
        {% if is_review %}
        $(".extension .switch").addClass("insensitive");
        {% endif %}
        $(".extension").addExtensionsSwitches();
        $(".comment .rating").each(function() {
            $(this).find('input').rating();
        });
        $("form .rating").rating();
    });
{% endblock %}

{% block navclass %}main{% endblock %}
