{% extends "extensions/detail.html" %}

{% block extra-messages %}
  {{ block.super }}
  {% if is_preview %}
    <p class="message info">
      This is a preview of how your extension's page will look.
      You can edit any of the things marked in yellow by clicking on them.
    </p>
  {% endif %}
{% endblock %}

{% block comments %}
  {% if is_visible %}
    {% include "extensions/comments.html" %}
  {% else %}
    <p style="text-align: center;">Comments will appear here after review.</p>
  {% endif %}
{% endblock %}

{% block extra %}
  {% if is_preview %}
    <button id="submit-ajax" data-url="{% url extensions-ajax-submit pk=version.pk %}">Submit the extension for review.</button>
  <a href="{% url extensions-upload-file pk=version.extension.pk %}">Upload a new version</a>
  {% endif %}
{% endblock %}

{% block extra-extension-info %}
    <ul>
      {% if user == extension.creator %}
      <li><a href="{% url extensions-upload-file pk=extension.pk %}">Upload a new version</a></li>
      {% endif %}
    </ul>
{% endblock %}

{% block screenshot %}
<div class="screenshot upload">
  <img src="{{ th.url }}" />
  <input type="file" accept="image/*">
</div>
{% endblock %}

{% block no-screenshot %}
<div class="screenshot upload placeholder">
  <div class="text">
    <span>Upload a screenshot</span>
  </div>
  <input type="file" accept="image/*">
</div>
{% endblock %}


{% block icon %}
<div class="icon upload">
  <img src="{{ extension.icon.url }}" />
  <input type="file" accept="image/*">
</div>
{% endblock %}

{% block no-icon %}
<div class="icon upload placeholder">
  <div class="dummy"></div>
  <input type="file" accept="image/*">
</div>
{% endblock %}

{% block document-ready %}{{ block.super }}
    {% if is_editable %}
    $("h3, p.description").csrfEditable("{% url extensions-ajax-inline pk=version.extension.pk %}");
    require(['uploader'], function() {
        $(".screenshot.upload").uploadify("{% url extensions-ajax-screenshot pk=version.extension.pk %}");
        $(".icon.upload").uploadify("{% url extensions-ajax-icon pk=version.extension.pk %}");
    });
    {% endif %}
{% endblock %}
