{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ extension.name }} - {{ block.super }}{% endblock %}

{% block body %}
    <div class="extension single-page {% block extra-ext-class %}{% endblock %}"
         data-epk="{{ extension.pk }}"
         data-uuid="{{ extension.uuid }}"
         data-svm="{{ shell_version_map }}">
      <div class="switch"></div>
      <div class="extra-buttons">
        <div class="upgrade-button"></div>
        <div class="configure-button"></div>
      </div>

      <div class="extension-header">
        {% block icon %}
        <img src="{{ extension.icon.url }}" class="icon">
        {% endblock icon %}

        <h3 class="extension-name" id="extension_name">{{ extension.name }}</h3>
        <span class="author">by <a href="{% url auth-profile user=extension.creator.username %}">{{ extension.creator }}</a></span>
      </div>

      <div class="extension-details">
        {% if extension.screenshot %}
        {% thumbnail extension.screenshot "300x200" as th %}
        {% block screenshot %}
        <a href="{{ extension.screenshot.url }}" class="screenshot"><img src="{{ th.url }}" /></a>
        {% endblock screenshot %}
        {% endthumbnail %}
        {% else %}
        {% block no-screenshot %}
        {% endblock %}
        {% endif %}

        <p class="description" id="extension_description">{{ extension.description }}</p>

        <dl>
          {% if extension.url %}
          <dt>Extension Homepage</dt>
          <dd><a href="{{ extension.url }}" id="extension_url">{{ extension.url }}</a></dd>
          {% endif %}
        </dl>
      </div>

      {% if not is_visible %}
      <p class="step">
        A reviewer will review the extension you submitted to make sure there's nothing too
        dangerous. You'll be emailed the result of the review.
      </p>
      {% endif %}

      <hr style="clear: both;">

      {% block comments %}
      {% include "extensions/comments.html" %}
      {% endblock comments %}

      {% block extra %}
      {% endblock %}
</div>
{% endblock %}

{% block navclass %}main{% endblock %}
