{% extends "base.html" %}
{% load manifest %}
{% block body %}
  <ul class="extensions">
  {% for extension in extensions %}
  {% with version=extension.latest_version %}
    <li class="extension">
      {% if extension.icon %}
      <img src="{{ extension.icon.url }}" class="icon">
      {% endif %}

      <h3><a href="{% url extensions-detail pk=extension.pk %}" class="title-link">{{ extension.name }}</a></h3>
      <span class="author">by {{ extension.creator }}</span>
      <p class="description">
        {{ extension.description }}
      </p>
      <hr>
    </li>
  {% endwith %}
  {% endfor %}
  </ul>
{% endblock %}
