{% extends "base.html" %}
{% block body %}
<div class="step upload">
  <h2 class="steptitle">Step <span>1</span></h2>
  <p>
    Make your extension. It should be a zip file containing at least the two files <code class="file required">metadata.json</code> and <code class="file required">extension.js</code>. Note that the UUID inside your <code class="file">metadata.json</code> must conform to GNOME Shell UUID guidelines. These guidelines can be found on <a href="https://live.gnome.org/GnomeShell/Extensions/UUIDGuidelines">the GNOME Wiki</a>.
  </p>

  <p>
    <span class="warning">These files need to be in the root directory of the zip file.</span>
    Use <code>zip -j</code> when making your zipfile to ensure this. Other files like <code class="file">stylesheet.css</code> are optional.
  </p>

  <p>
    <span class="alpha-warning">Be warned that this site is currently in alpha. As we find and fix bugs, data may need to be wiped.</span>
  </p>

  <form enctype="multipart/form-data" action=""
        method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {{ form.source }}
    <input type="submit" value="Upload extension">
  </form>

</div>
{% endblock %}

{% block navclass %}upload{% endblock %}
