{% extends "base.html" %}
{% block body %}
  <ul>
  {% for extension, manifest in extensions_list %}
    <li class="extension" data-uuid="{{ extension.uuid }}" data-manifest="{{ manifest }}">
      <div class="button"></div>
      <a href="{% url ext-detail pk=extension.pk %}" class="title-link">
        {{ extension.name }}
      </a>
      <span class="author">by {{ extension.creator }}</span>
      <p>
        {{ extension.description }}
      </p>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
{% block document-ready %}
  {{ block.super }}
  $(".extension").buttonify();
{% endblock %}
