{% extends "base.html" %}
{% block body %}
  <ul>
  {% for extension in extensions %}
  {% with version=extension.get_latest_version %}
    <li class="extension" data-uuid="{{ extension.uuid }}" data-manifest="{{ version.get_manifest_url }}">
      <div class="button"></div>
      <a href="{% url browse:detail pk=extension.pk %}" class="title-link">
        {{ extension.name }}
      </a>
      <span class="author">by {{ extension.creator }}</span>
      <p>
        {{ extension.description }}
      </p>
    </li>
  {% endwith %}
  {% endfor %}
  </ul>
{% endblock %}
{% block document-ready %}
  {{ block.super }}
  $(".extension").buttonify();
{% endblock %}
